<div id="thm_select_box" class="thm_select">
        <ul id="thm_tab">
            <li>
                <img id="tgl_icn" (click)="toggle('thm_select_box');" src="/assets/images/toggle.png">
            </li>
        </ul>
        <div id="thm_control">
            <div id="thm_para">
                <div class="tgl_menu"><a (click)="changeMenu('left')">Left Menu</a></div>
                <div class="tgl_menu"><a (click)="changeMenu('right')">Right Menu</a></div>
            </div>
        </div>
    </div>