<div id="thm_select_box" class="thm_select">
        <ul id="thm_tab">
            <li>
                <img id="tgl_icn" (click)="toggle('thm_select_box');" src="./assets/images/toggle.png">
            </li>
        </ul>
        <div id="thm_control">
              
            <div id="thm_para">
                <div class="tgl_menu"><a (click)="changeMenu('left')">Left Menu</a></div>
                <div class="tgl_menu"><a (click)="changeMenu('right')">Right Menu</a></div>
                <div class="tgl_menu"><a (click)="changeColor('orange-blue')">Orange Blue Theme</a></div>                
                <div class="tgl_menu"><a (click)="changeColor('pink-blue')">Pink Blue Theme</a></div>
                <div class="tgl_menu"><a (click)="changeColor('sky-purple')">Sky Purple Theme</a></div>
                <div class="tgl_menu"><a (click)="changeColor('yellow-navy')">Yellow Navy Theme</a></div>     
                <div class="tgl_menu"><a (click)="changeColor('green-purple')">Green Purple Theme</a></div>
                <div class="tgl_menu"><a (click)="changeColor('steer-high')">Steer High Theme</a></div>       
                <div class="tgl_menu"><a (click)="changeColor('logo')">Own Company Logo</a></div>   
                <div class="tgl_menu"><a (click)="changeColor('default-logo')">Default Logo</a></div>                                                                
                <div class="tgl_menu"><a (click)="changeColor('secondary-logo')">Secondary Logo</a></div>                                                                                
            </div>
        </div>
    </div>