<!-- <div class="row time_expns_detail">
        <div class="col-xs-12 border_top">
                <ng-container *ngFor="let column of columns">                        
            <div class="row rm_grid border_btm">
                <div class="col-lg-3 col-md-5 col-sm-4 col-xs-12 mob_brd padd_btm bord_rt">
                    <h4 class="lbl_name"><label>Design and Develop Websites in PHP</label></h4>
                    <div class="lbl_value"><label>Active Project</label></div>
                </div>
                <div class="col-lg-6 col-md-7 col-sm-8 col-xs-12 padd_btm mob_btm">
                    <div class="row bord_rt">
                        <div class="col-sm-3 col-xs-12">
                            <h6 class="lbl_name"><label>$40,000.00</label></h6>
                            <div class="lbl_value"><label>Invoiced</label></div>
                        </div>
                        <div class="col-sm-3 col-xs-12">
                            <h6 class="lbl_name"><label>$200.00</label></h6>
                            <div class="lbl_value"><label>Un-invoiced</label></div>
                        </div>
                        <div class="col-sm-3 col-xs-12">
                            <h6 class="lbl_name"><label>$40,200.00</label></h6>
                            <div class="lbl_value"><b><label>Total Expense</label></b></div>
                        </div>
                        <div class="col-sm-3 col-xs-12">
                            <h6 class="lbl_name"><span class="highlight green_txt"><label>$60,000.00</label></span></h6>
                            <div class="lbl_value"><label>Budget</label></div>
                        </div>
                        <div class="col-lg-2 col-md-5 col-sm-4 col-xs-6">
                                <div class="row bord_rt mob_brd">
                                    <div class="col-sm-6 col-xs-6 user_dtl">
                                        <h6 class="lbl_name"><label>23</label></h6>
                                        <div class="lbl_value"><label>Members</label></div>
                                    </div>
                                    <div class="col-sm-6 col-xs-6 user_dtl">
                                        <h6 class="lbl_name"><label>500.00</label></h6>
                                        <div class="lbl_value"><label>Billed Hours</label></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-1 col-md-7 col-sm-8 col-xs-6 inline_icn">
                                <span><a href="#"><i class="fa fa-clock-o" aria-hidden="true"></i></a></span>
                                <span><a href="#"><i class="fa fa-files-o" aria-hidden="true"></i></a></span>

                            </div>
                    </div>
                </div>
            </div>
        </ng-container>
        
        </div>
</div>
<!-- <table>
        <thead>
          <tr>
            <th *ngFor="let column of columns">{{column.header}}</th>
          </tr>
        </thead>
    <tbody *ngFor="let row of dataset">
    <tr>
      <td *ngFor="let column of columns">{{row[column.value]}}</td>
      </tr>
    </tbody>
    </table> --> 