<div class="wrapper">
    <div class="aside left">
        <div class="dash_logo">
            <a href="#">
                <img src="/assets/images/settings/logo_dashboard.png" alt="kleveron" />
            </a>
        </div>
        <div class="cmpny_logo">
            <a href="#">
                <img src="/assets/images/settings/Steer-high-logo.png" alt="" />
            </a>
        </div>
        <div class="aside_nav">
            <div class="sidebar-menu">
                <ul class="menu">
                    <li>
                        <h3>
                            <label>
                                Main
                            </label>
                        </h3>
                    </li>
                    <li class="active">
                        <a routerLink="/adminPanel">
                            <img src="/assets/images/settings/Job-postings.png" class="icon-img" />
                            <span>
                                <label>
                                    Admin Panel
                                </label>
                            </span>
                        </a>

                    </li>
                    <li>
                        <a routerLink="/adminInputMaster/uk">
                            <img src="/assets/images/settings/Job-postings.png" class="icon-img" />
                            <span>
                                <label>
                                    Input Master
                                </label>
                            </span>
                        </a>

                    </li>
                    <li>
                        <a routerLink="/adminGridMaster">
                            <img src="/assets/images/settings/Job-postings.png" class="icon-img" />
                            <span>
                                <label>
                                    Grid Master
                                </label>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/adminListMaster">
                            <img src="/assets/images/settings/Job-postings.png" class="icon-img" />
                            <span>
                                <label>
                                    List Master
                                </label>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="admin-widget-master.html">
                            <img src="/assets/images/settings/Job-postings.png" class="icon-img" />
                            <span>
                                <label>
                                    Widget Master
                                </label>
                            </span>
                        </a>
                    </li>

                </ul>
                <div class="menu_footer">
                    <p>
                        <label>
                            Powered By
                            <b>Kleveron</b>
                        </label>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="content_wrap right">
        <header class="frame_header">
            <div class="row">
                <div class="col-xs-4">
                    <div class="navbar-header">
                        <i class="fa fa-bars"></i>
                    </div>
                </div>
                <div class="col-xs-4 text_center mob_head">
                    <h1>
                        <label>
                            Framework
                        </label>
                    </h1>
                </div>
                <div class="col-sm-4">
                    <div class="header-rightside">
                        <ul class="list-inline header-top pull-right navbar-right">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <img src="/assets/images/settings/user.png" alt="" class="user-icon">
                                    <span>
                                        <label>
                                            John Smith
                                        </label>
                                    </span>
                                    <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu animated fadeInUpShort">
                                    <li>
                                        <a href="#" class="view btn-sm">
                                            <label>
                                                View Profile
                                            </label>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="view btn-sm">
                                            <label>
                                                Logout
                                            </label>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="icon-info dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-language" aria-hidden="true"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-right animated fadeInUpShort">
                                    <li>
                                        <a href="#" class="view btn-sm">
                                            <label>
                                                English
                                            </label>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="view btn-sm">
                                            <label>
                                                Gujarati
                                            </label>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="icon-info dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-bell" aria-hidden="true">
                                    </i>
                                </a>
                                <ul class="dropdown-menu notify-drop animated fadeInUpShort">
                                    <div class="notify-drop-title">
                                        <div class="row">
                                            <div class="col-md-6 col-sm-6 col-xs-6">
                                                <label>
                                                    Hiren (
                                                    <b>2</b>)
                                                </label>
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-6 text-right">
                                                <a href="">
                                                    <i class="fa fa-dot-circle-o"></i>
                                                </a>
                                            </div>
                                            <div class="clearfix">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="drop-content">
                                        <li>
                                            <div class="col-md-3 col-sm-3 col-xs-3">
                                                <div class="notify-img">
                                                    <img src="/assets/images/on-boarding/notification-img.png" alt="">
                                                </div>
                                            </div>
                                            <div class="col-md-9 col-sm-9 col-xs-9 pd-l0">
                                                <a href="">
                                                    <label>
                                                        Ahmet
                                                    </label>
                                                </a>
                                                <p>
                                                    <label>
                                                        Lorem ipsum sit dolor amet consilium. Saat önce
                                                    </label>
                                                </p>
                                            </div>
                                            <div class="clearfix">
                                            </div>
                                        </li>
                                        <li>
                                            <div class="col-md-3 col-sm-3 col-xs-3">
                                                <div class="notify-img">
                                                    <img src="/assets/images/on-boarding/notification-img.png" alt="">
                                                </div>
                                            </div>
                                            <div class="col-md-9 col-sm-9 col-xs-9 pd-l0">
                                                <a href="">
                                                    <label>
                                                        Ahmet
                                                    </label>
                                                </a>
                                                <p>
                                                    <label>
                                                        Lorem ipsum sit dolor amet consilium. Saat önce
                                                    </label>
                                                </p>
                                            </div>
                                            <div class="clearfix">
                                            </div>
                                        </li>
                                        <li>
                                            <div class="col-md-3 col-sm-3 col-xs-3">
                                                <div class="notify-img">
                                                    <img src="/assets/images/on-boarding/notification-img.png" alt="">
                                                </div>
                                            </div>
                                            <div class="col-md-9 col-sm-9 col-xs-9 pd-l0">
                                                <a href="">
                                                    <label>
                                                        Ahmet
                                                    </label>
                                                </a>
                                                <p>
                                                    <label>
                                                        Lorem ipsum sit dolor amet consilium. Saat önce
                                                    </label>
                                                </p>
                                            </div>
                                            <div class="clearfix">
                                            </div>
                                        </li>
                                        <li>
                                            <div class="col-md-3 col-sm-3 col-xs-3">
                                                <div class="notify-img">
                                                    <img src="/assets/images/on-boarding/notification-img.png" alt="">
                                                </div>
                                            </div>
                                            <div class="col-md-9 col-sm-9 col-xs-9 pd-l0">
                                                <a href="">
                                                    <label>
                                                        Ahmet
                                                    </label>
                                                </a>
                                                <p>
                                                    <label>
                                                        Lorem ipsum sit dolor amet consilium. Saat önce
                                                    </label>
                                                </p>
                                            </div>
                                            <div class="clearfix">
                                            </div>
                                        </li>
                                    </div>
                                    <div class="notify-drop-footer text-center">
                                        <a href="">
                                            <i class="fa fa-eye"></i>
                                            <label>
                                                View All
                                            </label>
                                        </a>
                                    </div>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
        <div class="container-fluid bgwhite">
            <!-- Modal -->

            <div class="row page_header">
                <div class="col-xs-6">
                    <h2 class="head">
                        <label>
                            Input Forms
                        </label>
                    </h2>
                </div>
                <div class="col-xs-6">
                    <img src="/assets/images/on-boarding/onbrd-icon.png" class="icon-img pull-right" />
                </div>
            </div>
            <right-menu-toggle></right-menu-toggle>
            <div class="row page_content cmn_info_wrap">
                <div class="framework1 container-fluid">
                    <div class="detail_wrapper">
                        <div class="detail_nav_menu">
                            <div class="company_details">

                                <form #myForm="ngForm">
                                    <div class="row">
                                       
                                        <div *ngFor="let tb of Textboxes;let i=index">
                                            <ng-container *ngIf="tb!==undefined">
                                                <div [dragula]='"one-bag"'>
                                                    
                                                    <ng-container *ngIf="tb.type == 'textbox'">

                                                        <div [attr.data-id]="tb.order" class="col-md-6 col-sm-6 col-xs-12 element_box">
                                                            <div class="action-ui" id="tour-action-ui-id">
                                                                <span class="actions">
                                                                    <a class="clone" (click)="cloneElement(tb.order)">
                                                                        <i class="fa fa-clone">
                                                                        </i>
                                                                        <span class="tooltip">Clone</span>
                                                                    </a>
                                                                </span>
                                                                <span class="actions">
                                                                    <a class="edit_btn" (click)="editElement(tb.order)" data-target="#input_control_Modal" data-toggle="modal">
                                                                        <i class="fa fa-edit"></i>
                                                                        <span class="tooltip">Edit</span>
                                                                    </a>
                                                                </span>
                                                                <span class="actions">
                                                                    <a class="delel" (click)="delElement(tb.order)">
                                                                        <i class="fa fa-trash-o">
                                                                        </i>
                                                                        <span class="tooltip">Delete</span>
                                                                    </a>
                                                                </span>
                                                                <span class="actions">
                                                                    <a class="" (click)="resetElement(tb.order)">
                                                                        <i class="fa fa-refresh"></i>
                                                                        <span class="tooltip">Reset</span>
                                                                    </a>
                                                                </span>
                                                            </div>

                                                            <input [name]="tb.id" class="cmn_input" [placeholder]="tb.placeholder" [value]="tb.values[0]" [id]="tb.id">


                                                        </div>
                                                    </ng-container>
                                                    <ng-container *ngIf="tb.type == 'select'">
                                                        <div [id]="tb.order" class="col-md-6 col-sm-6 col-xs-12 element_box">
                                                            <div class="action-ui" id="tour-action-ui-id">
                                                                <span class="actions">
                                                                    <a class="clone" (click)="cloneElement(tb.order)">
                                                                        <i class="fa fa-clone">
                                                                        </i>
                                                                        <span class="tooltip">Clone</span>
                                                                    </a>
                                                                </span>
                                                                <span class="actions">
                                                                    <a class="edit_btn" (click)="editElement(tb.order)" data-target="#input_control_Modal" data-toggle="modal">
                                                                        <i class="fa fa-edit"></i>
                                                                        <span class="tooltip">Edit</span>
                                                                    </a>
                                                                </span>
                                                                <span class="actions">
                                                                    <a class="delel" (click)="delElement(tb.order)">
                                                                        <i class="fa fa-trash-o">
                                                                        </i>
                                                                        <span class="tooltip">Delete</span>
                                                                    </a>
                                                                </span>
                                                                <span class="actions">
                                                                    <a class="" (click)="resetElement(tb.order)">
                                                                        <i class="fa fa-refresh"></i>
                                                                        <span class="tooltip">Reset</span>
                                                                    </a>
                                                                </span>
                                                            </div>
                                                            <ng-container *ngIf="tb.type == 'textbox'">
                                                                <input [name]="tb.id" class="cmn_input" [placeholder]="tb.placeholder" [value]="tb.values[0]" [id]="tb.id">
                                                            </ng-container>

                                                            <label>
                                                                <select [name]="tb.id" class="cmn_input" [id]="tb.id" [value]="">
                                                                    <option *ngFor="let aob of tb.values" [ngValue]="aob">{{aob}}</option>
                                                                </select>
                                                            </label>
                                                        </div>
                                                    </ng-container>

                                                    <ng-container *ngIf="tb.type == 'password'">
                                                        <div [id]="tb.order" class="col-md-6 col-sm-6 col-xs-12 element_box">
                                                            <div class="action-ui" id="tour-action-ui-id">
                                                                <span class="actions">
                                                                    <a class="clone" (click)="cloneElement(tb.order)">
                                                                        <i class="fa fa-clone">
                                                                        </i>
                                                                        <span class="tooltip">Clone</span>
                                                                    </a>
                                                                </span>
                                                                <span class="actions">
                                                                    <a class="edit_btn" (click)="editElement(tb.order)" data-target="#input_control_Modal" data-toggle="modal">
                                                                        <i class="fa fa-edit"></i>
                                                                        <span class="tooltip">Edit</span>
                                                                    </a>
                                                                </span>
                                                                <span class="actions">
                                                                    <a class="delel" (click)="delElement(tb.order)">
                                                                        <i class="fa fa-trash-o">
                                                                        </i>
                                                                        <span class="tooltip">Delete</span>
                                                                    </a>
                                                                </span>
                                                                <span class="actions">
                                                                    <a class="" (click)="resetElement(tb.order)">
                                                                        <i class="fa fa-refresh"></i>
                                                                        <span class="tooltip">Reset</span>
                                                                    </a>
                                                                </span>
                                                            </div>
                                                           

                                                            <div class="dtl_row">
                                                                <div class="input-group">
                                                                    <input class="cmn_input password" [id]="tb.id" [placeholder]="tb.placeholder" type="password">
                                                                    <span class="input-group-addon custom_icn">
                                                                        <span class="fa fa-lock"></span>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        
                                                    </ng-container>
                                                    <ng-container *ngIf="tb.type == 'select_text'">
                                                        <div [id]="tb.order" class="col-md-6 col-sm-6 col-xs-12 element_box">
                                                            <div class="action-ui" id="tour-action-ui-id">
                                                                <span class="actions">
                                                                    <a class="clone" (click)="cloneElement(tb.order)">
                                                                        <i class="fa fa-clone">
                                                                        </i>
                                                                        <span class="tooltip">Clone</span>
                                                                    </a>
                                                                </span>
                                                                <span class="actions">
                                                                    <a class="edit_btn" (click)="editElement(tb.order)" data-target="#input_control_Modal" data-toggle="modal">
                                                                        <i class="fa fa-edit"></i>
                                                                        <span class="tooltip">Edit</span>
                                                                    </a>
                                                                </span>
                                                                <span class="actions">
                                                                    <a class="delel" (click)="delElement(tb.order)">
                                                                        <i class="fa fa-trash-o">
                                                                        </i>
                                                                        <span class="tooltip">Delete</span>
                                                                    </a>
                                                                </span>
                                                                <span class="actions">
                                                                    <a class="" (click)="resetElement(tb.order)">
                                                                        <i class="fa fa-refresh"></i>
                                                                        <span class="tooltip">Reset</span>
                                                                    </a>
                                                                </span>
                                                            </div>
                                                           

                                                            <div class="dtl_row">
                                                                <div class="row">
                                                                    <div class="col-md-2 col-sm-2 col-xs-2 custom_chk_bx admi_chk">
                                                                        <input type="checkbox" id="chk1" name="" [value]="" class="chk_bx" [checked]="tb.boolvals[0]">
                                                                        <label for="chk1"></label>
                                                                    </div>
                                                                    <div class="col-md-10 col-sm-10 col-xs-10 ">
                                                                        <input class="cmn_input" [placeholder]="tb.placeholder">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                      
                                                    </ng-container>
                                                    <ng-container *ngIf="tb.type == 'select_options'">
                                                        <div [id]="tb.order" class="col-md-6 col-sm-6 col-xs-12 element_box">
                                                            <div class="action-ui" id="tour-action-ui-id">
                                                                <span class="actions">
                                                                    <a class="clone" (click)="cloneElement(tb.order)">
                                                                        <i class="fa fa-clone">
                                                                        </i>
                                                                        <span class="tooltip">Clone</span>
                                                                    </a>
                                                                </span>
                                                                <span class="actions">
                                                                    <a class="edit_btn" (click)="editElement(tb.order)" data-target="#input_control_Modal" data-toggle="modal">
                                                                        <i class="fa fa-edit"></i>
                                                                        <span class="tooltip">Edit</span>
                                                                    </a>
                                                                </span>
                                                                <span class="actions">
                                                                    <a class="delel" (click)="delElement(tb.order)">
                                                                        <i class="fa fa-trash-o">
                                                                        </i>
                                                                        <span class="tooltip">Delete</span>
                                                                    </a>
                                                                </span>
                                                                <span class="actions">
                                                                    <a class="" (click)="resetElement(tb.order)">
                                                                        <i class="fa fa-refresh"></i>
                                                                        <span class="tooltip">Reset</span>
                                                                    </a>
                                                                </span>
                                                            </div>
                                                            <div class="dtl_row">
                                                                <div class="row">
                                                                    <div class="col-md-2 col-sm-2 col-xs-2 custom_chk_bx admi_chk ">
                                                                        <input type="checkbox" id="chk6" name="" value="" class="chk_bx">
                                                                        <label for="chk6"></label>
                                                                    </div>
                                                                    <div class="col-md-10 col-sm-10 col-xs-10 selectdiv">
                                                                        <label>
                                                                            <select [name]="tb.id" class="cmn_input" [id]="tb.id" [value]="">
                                                                                <option *ngFor="let aob of tb.values" [ngValue]="aob">{{aob}}</option>
                                                                            </select>
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </div>  

                                                         
                                                        </div>
                                                       
                                                    </ng-container>

                                                    <ng-container *ngIf="tb.type == 'text_label'">
                                                        <div [id]="tb.order" class="col-md-6 col-sm-6 col-xs-12 element_box">
                                                            <div class="action-ui" id="tour-action-ui-id">
                                                                <span class="actions">
                                                                    <a class="clone" (click)="cloneElement(tb.order)">
                                                                        <i class="fa fa-clone">
                                                                        </i>
                                                                        <span class="tooltip">Clone</span>
                                                                    </a>
                                                                </span>
                                                                <span class="actions">
                                                                    <a class="edit_btn" (click)="editElement(tb.order)" data-target="#input_control_Modal" data-toggle="modal">
                                                                        <i class="fa fa-edit"></i>
                                                                        <span class="tooltip">Edit</span>
                                                                    </a>
                                                                </span>
                                                                <span class="actions">
                                                                    <a class="delel" (click)="delElement(tb.order)">
                                                                        <i class="fa fa-trash-o">
                                                                        </i>
                                                                        <span class="tooltip">Delete</span>
                                                                    </a>
                                                                </span>
                                                                <span class="actions">
                                                                    <a class="" (click)="resetElement(tb.order)">
                                                                        <i class="fa fa-refresh"></i>
                                                                        <span class="tooltip">Reset</span>
                                                                    </a>
                                                                </span>
                                                            </div>
                                                            <div class="dtl_row">
                                                                <label class="lbl_hdr">{{tb.lnames[0]}}</label>
                                                                <div class="input-group">
                                                                    <input class="cmn_input" [placeholder]="tb.placeholder" type="text" [value]="tb.values[0]">
                                                                    <span class="input-group-addon custom_icn">
                                                                        <span class="fa fa-address-card"></span>
                                                                    </span>
                                                                </div>
                                                            </div>

                                                         
                                                        </div>
                                                    </ng-container>
                                                </div>
                                                </ng-container>
                                       

                                    </div>
                                    


                                    </div>


                                    <div class="detail_btn frmwrk_btn">
                                        <div class="action-ui" id="tour-action-ui-id">
                                            <span class="actions">
                                                <a class="" href="javascript:void(0);">
                                                    <i class="fa fa-clone">
                                                    </i>
                                                    <span class="tooltip">Clone</span>
                                                </a>
                                            </span>
                                            <span class="actions">
                                                <a class="" href="javascript:void(0);">
                                                    <i class="fa fa-edit"></i>
                                                    <span class="tooltip">Edit</span>
                                                </a>
                                            </span>
                                            <span class="actions">
                                                <a class="delel">
                                                    <i class="fa fa-trash-o">
                                                    </i>
                                                    <span class="tooltip">Delete</span>
                                                </a>
                                            </span>
                                            <span class="actions">
                                                <a class="" href="javascript:void(0);">
                                                    <i class="fa fa-refresh"></i>
                                                    <span class="tooltip">Reset</span>
                                                </a>
                                            </span>
                                        </div>

                                        <button type="button" class="btn1 btn save_btn" data-toggle="modal" data-target="#input_control_URL">
                                            <label>
                                                Save
                                            </label>
                                        </button>
                                        <button type="submit" class="btn2 btn tab_no next_btn">
                                            <label>
                                                Next
                                            </label>
                                        </button>

                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="text_center">
                <h4>
                    <label>
                        © 2017 Kleveron. A venture of
                        <a href="#">SRKay </a>Consulting Group LLP. All Rights Reserved.
                    </label>
                </h4>
            </footer>
        </div>
        <div class="clearfix">
        </div>
    </div>
    <div class="clearfix">
    </div>
</div>

<div class="modal fade control_mdl" id="input_control_URL" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">

            <div class="modal_tabs add_control">
                <div class="modal-header">
                    <button type="button" class="mdl_close" data-dismiss="modal">
                        &times;
                    </button>
                    <h4>
                        <label class="modal-title">Edit Form URL</label>
                    </h4>
                </div>
                <div class="modal-body">


                    <div class="row col_outer cntrl_info">
                        <div class="col-md-4 col-xs-12 lbl_cntrl">
                            <label class="lbl_hdr">
                                Form Name
                            </label>
                            <input class="cmn_input" type="text" [(ngModel)]="formName" #formname>
                        </div>


                        <div class="col-md-4 col-xs-12 lbl_cntrl">
                            <label class="lbl_hdr">
                                Form Submit URL (start with "/")
                            </label>
                            <input class="cmn_input" type="text" [(ngModel)]="formUrl" #formurl>
                        </div>
                    </div>

                </div>
                <div class="modal-footer modal_btn">
                    <button type="button" class="btn sv_btn" (click)="saveClick()">
                        <label>
                            Save
                        </label>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade control_mdl" id="input_control_Modal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">

            <div class="modal_tabs add_control">
                <div class="modal-header">
                    <button type="button" class="mdl_close" data-dismiss="modal">
                        &times;
                    </button>
                    <h4>
                        <label class="modal-title">Edit Control</label>
                    </h4>
                </div>
                <div class="modal-body">

                    <div class="row col_outer cntrl_info">
                        <div class="col-md-4 col-xs-12 lbl_cntrl" style="display:none">
                            <label class="lbl_hdr">
                                Control Parent ID
                            </label>
                            <input class="cmn_input" type="text" #ctpar>
                        </div>
                        <div class="col-md-4 col-xs-12 lbl_cntrl">
                            <label class="lbl_hdr">
                                Control Id
                            </label>
                            <input class="cmn_input" type="text" #ctid>
                        </div>
                        <div class="col-md-4 col-xs-12 lbl_cntrl">
                            <label class="lbl_hdr">
                                Control Value
                            </label>
                            <input class="cmn_input" type="text" #ctval>
                        </div>
                        <div class="col-md-4 col-xs-12 lbl_cntrl">
                            <label class="lbl_hdr">
                                Control Placeholder
                            </label>
                            <input class="cmn_input" type="text" #ctph>
                        </div>
                        <div class="col-md-4 col-xs-12 custom_chk_bx">
                            <div class="chk_bx chk_top">
                                <input type="checkbox" id="vldtn_btn1" #ctvbx (click)="filterData()">
                                <label for="vldtn_btn1">
                                    Validation Required
                                </label>
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-12 hide_lbl">
                            <label class="lbl_hdr">
                                Validation Message
                            </label>
                            <input class="cmn_input" type="text" #ctvmsg>
                        </div>
                    </div>
                </div>
                <div class="modal-footer modal_btn">
                    <button type="button" class="btn sv_btn" (click)="saveCntrl(ctpar.value,ctid.value,ctval.value,ctph.value,ctvbx.value,ctvmsg.value)">
                        <label>
                            Save
                        </label>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- label Modal -->

<div class="modal fade control_mdl" id="input_label_Modal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">

            <div class="modal_tabs add_label">
                <div class="modal-header">
                    <button type="button" class="mdl_close" data-dismiss="modal">&times;</button>
                    <h4>
                        <label class="modal-title">Edit Label</label>
                    </h4>
                </div>
                <div class="modal-body">

                    <div class="row col_outer">
                        <div class="col-md-4 lbl_cntrl">
                            <label class="lbl_hdr">Label ID</label>
                            <input class="cmn_input" type="text" #labelid>
                        </div>
                        <div class="col-md-4 lbl_cntrl">
                            <label class="lbl_hdr">Label Name</label>
                            <input class="cmn_input" type="text" #labelnm>
                        </div>
                        <div class="col-md-4 lbl_cntrl">
                            <label class="lbl_hdr">Label Class</label>
                            <input class="cmn_input" type="text" #labelclass>
                        </div>
                    </div>
                </div>
                <div class="modal-footer modal_btn">
                    <button type="button" class="btn nx_btn" (click)="saveLabel(labelid.value,labelnm.value,labelclass.value)">
                        <label>Next</label>
                    </button>

                    <!-- <button type="button" class="btn sv_btn"><label>Save</label></button> -->
                </div>
            </div>
            <div class="modal_tabs add_control">
                <div class="modal-header">
                    <button type="button" class="mdl_close" data-dismiss="modal">&times;</button>
                    <h4>
                        <label class="modal-title">Edit Controls</label>
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="div_hdr row">
                        <div class="col-md-12">
                            <h4>
                                <label>Select Control</label>
                            </h4>
                        </div>
                    </div>

                    <div class="row col_outer cntrl_info">
                        <div class="col-md-4 col-xs-12 lbl_cntrl" style="display:none">
                            <label class="lbl_hdr">Parent Control Id</label>
                            <input id="cntrl_parent" type="text" #cntrlpar>
                        </div>
                        <div class="col-md-4 col-xs-12 lbl_cntrl">
                            <label class="lbl_hdr">Control Id</label>
                            <input class="cmn_input" type="text" #cntrlid>
                        </div>

                        <div class="col-md-4 col-xs-12 lbl_cntrl">
                            <label class="lbl_hdr">Control Value</label>
                            <input class="cmn_input" type="text" #cntrlval>
                        </div>
                        <div class="col-md-4 col-xs-12 lbl_cntrl">
                            <label class="lbl_hdr">Control Placeholder</label>
                            <input class="cmn_input" type="text" #cntrlph>
                        </div>

                        <div class="col-md-4 col-xs-12 custom_chk_bx">
                            <div class="chk_bx chk_top">
                                <input type="checkbox" id="vldtn_btn1" (click)="filterData()" #valreq>
                                <label for="vldtn_btn1">Validation Required</label>
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-12 hide_lbl">
                            <label class="lbl_hdr">Validation Message</label>
                            <input class="cmn_input" type="text" #valmsg>
                        </div>

                    </div>
                </div>
                <div class="modal-footer modal_btn">

                    <button type="button" class="btn sv_btn" (click)="saveCntrl(cntrlpar.value,cntrlid.value,cntrlval.value,cntrlph.value,valreq.value,valmsg.value)">
                        <label>Save</label>
                    </button>
                </div>
            </div>


        </div>
    </div>
</div>
<div class="clearfix">
</div>