<div class="wrapper">
    <div class="aside left">
        <div class="dash_logo">
            <a href="#">
                <img src="/assets/images/settings/logo_dashboard.png" alt="kleveron" />
            </a>
        </div>
        <div class="cmpny_logo">
                <a href="#">
                    <img src="/assets/images/settings/Steer-high-logo.png" alt="" />
                </a>
            </div>
        <div class="aside_nav">
            <div class="sidebar-menu">
                <ul class="menu">
                    <li>
                        <h3>
                            <label>
                                Main
                            </label>
                        </h3>
                    </li>
                    <li class="active">
                        <a routerLink="/adminPanel">
                            <img src="/assets/images/settings/Job-postings.png" class="icon-img" />
                            <span>
                                <label>
                                    Admin Panel
                                </label>
                            </span>
                        </a>

                    </li>
                    <li>
                        <a class="sub_menu_toggle">
                            <img src="/assets/images/settings/Job-postings.png" class="icon-img" />
                            <span>
                                <label>
                                    Input Master
                                </label>
                            </span>
                        </a>
                        <ul class="inner">
                            <li *ngIf="check0" ><a routerLink="/adminInputMaster/uk"><span class="input_icon"><img src="/assets/images/input-icon.png" /></span>input-form-1.html</a></li>
                            <ng-container *ngFor="let d of data;let i= index">
                            <li *ngIf="check0_input[i]"><a (click)="redirectToNext(i)"><span class="input_icon"><img src="/assets/images/input-icon.png" /></span>{{d.FormName}}</a></li>
                            </ng-container>
                            
                        </ul>
                    </li>
                    <li>
                        <a class="sub_menu_toggle">
                            <img src="/assets/images/settings/Job-postings.png" class="icon-img" />
                            <span>
                                <label>
                                    Grid Master
                                </label>
                            </span>
                        </a>
                        <ul class="inner">
                            <ng-container *ngIf="checkedGrid">
                            <li><a routerLink="/adminListMaster/uk"><span class="input_icon"><img src="/assets/images/grid-icon.png" /></span>grid-form-1.html</a></li>
                           </ng-container>
                           <ng-container *ngFor="let d of data_grid;let i= index">
                                <li *ngIf="check0_input_grid[i]"><a (click)="redirectToNextGrid(i)"><span class="input_icon"><img src="/assets/images/grid-icon.png" /></span>{{d.Form_Name}}</a></li>
                                </ng-container>
                        </ul>
                    </li>
                    <li>
                        <a class="sub_menu_toggle">
                            <img src="/assets/images/settings/Job-postings.png" class="icon-img" />
                            <span>
                                <label>
                                    List Master
                                </label>
                            </span>
                        </a>
                        <ul class="inner">
                            <li><a href="list-master.html"><span class="input_icon"><img src="/assets/images/list-icon.png" /></span>list-form-1.html</a></li>
                            <li><a href="#"><span class="input_icon"><img src="/assets/images/list-icon.png" /></span>list-form-2.html</a></li>
                            <li><a href="#"><span class="input_icon"><img src="/assets/images/list-icon.png" /></span>list-form-3.html</a></li>
                            <li><a href="#"><span class="input_icon"><img src="/assets/images/list-icon.png" /></span>list-form-4.html</a></li>
                            <li><a href="#"><span class="input_icon"><img src="/assets/images/list-icon.png" /></span>list-form-5.html</a></li>
                            <li><a href="#"><span class="input_icon"><img src="/assets/images/list-icon.png" /></span>list-form-6.html</a></li>
                            <li><a href="#"><span class="input_icon"><img src="/assets/images/list-icon.png" /></span>list-form-7.html</a></li>
                            <li><a href="#"><span class="input_icon"><img src="/assets/images/list-icon.png" /></span>list-form-8.html</a></li>
                            <li><a href="#"><span class="input_icon"><img src="/assets/images/list-icon.png" /></span>list-form-9.html</a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="sub_menu_toggle">
                            <img src="/assets/images/settings/Job-postings.png" class="icon-img" />
                            <span>
                                <label>
                                    Widget Master
                                </label>
                            </span>
                        </a>
                        <ul class="inner">
                            <li><a href="widget-master.html"><span class="input_icon"><img src="/assets/images/widget-icon.png" /></span>widget-form-1.html</a></li>
                        </ul>
                    </li>
                </ul>
                <div class="menu_footer">
                        <p>
                            <label>
                                Powered By <b>Kleveron</b>
                            </label>
                        </p>
                    </div>
            </div>
        </div>
    </div>
    <div class="content_wrap right">
        <header class="frame_header">
            <div class="row">
                <div class="col-xs-4">
                    <div class="navbar-header">
                        <i class="fa fa-bars"></i>
                    </div>
                </div>
                <div class="col-xs-4 text_center mob_head">
                    <h1><label>Admin Panel</label></h1>
                </div>
                <div class="col-sm-4">
                    <div class="header-rightside">
                        <ul class="list-inline header-top pull-right navbar-right">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <img src="/assets/images/settings/user.png" alt="" class="user-icon">
                                    <span><label>John Smith</label></span>
                                    <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu animated fadeInUpShort">
                                    <li>
                                        <a href="#" class="view btn-sm"><label>View Profile</label></a>
                                    </li>
                                    <li>
                                        <a href="#" class="view btn-sm"><label>Logout</label></a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="icon-info dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-language" aria-hidden="true"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-right animated fadeInUpShort">
                                    <li>
                                        <a href="#" class="view btn-sm"><label>English</label></a>
                                    </li>
                                    <li>
                                        <a href="#" class="view btn-sm"><label>Gujarati</label></a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="icon-info dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-bell" aria-hidden="true"></i>
                                </a>
                                <ul class="dropdown-menu notify-drop animated fadeInUpShort">
                                    <div class="notify-drop-title">
                                        <div class="row">
                                            <div class="col-md-6 col-sm-6 col-xs-6"><label>Hiren (<b>2</b>)</label></div>
                                            <div class="col-md-6 col-sm-6 col-xs-6 text-right"><a href=""><i class="fa fa-dot-circle-o"></i></a></div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                    <div class="drop-content">
                                        <li>
                                            <div class="col-md-3 col-sm-3 col-xs-3"><div class="notify-img"><img src="../images/on-boarding/notification-img.png" alt=""></div></div>
                                            <div class="col-md-9 col-sm-9 col-xs-9 pd-l0">
                                                <a href=""><label>Ahmet</label></a><p><label> Lorem ipsum sit dolor amet consilium. Saat önce</label></p>
                                            </div>
                                            <div class="clearfix"></div>
                                        </li>
                                        <li>
                                            <div class="col-md-3 col-sm-3 col-xs-3"><div class="notify-img"><img src="../images/on-boarding/notification-img.png" alt=""></div></div>
                                            <div class="col-md-9 col-sm-9 col-xs-9 pd-l0">
                                                <a href=""><label>Ahmet</label></a><p><label> Lorem ipsum sit dolor amet consilium. Saat önce</label></p>
                                            </div>
                                            <div class="clearfix"></div>
                                        </li>
                                        <li>
                                            <div class="col-md-3 col-sm-3 col-xs-3"><div class="notify-img"><img src="../images/on-boarding/notification-img.png" alt=""></div></div>
                                            <div class="col-md-9 col-sm-9 col-xs-9 pd-l0">
                                                <a href=""><label>Ahmet</label></a><p><label> Lorem ipsum sit dolor amet consilium. Saat önce</label></p>
                                            </div>
                                            <div class="clearfix"></div>
                                        </li>
                                        <li>
                                            <div class="col-md-3 col-sm-3 col-xs-3"><div class="notify-img"><img src="../images/on-boarding/notification-img.png" alt=""></div></div>
                                            <div class="col-md-9 col-sm-9 col-xs-9 pd-l0">
                                                <a href=""><label>Ahmet</label></a><p><label> Lorem ipsum sit dolor amet consilium. Saat önce</label></p>
                                            </div>
                                            <div class="clearfix"></div>
                                        </li>
                                    </div>
                                    <div class="notify-drop-footer text-center">
                                        <a href=""><i class="fa fa-eye"></i> <label>View All</label></a>
                                    </div>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
        <div class="container-fluid bgwhite">
            <div class="row page_content cmn_info_wrap">
                <div class="add_paging_section container-fluid">
                    <div class="row input_master_pages cmn_page_sec">
                        <div class="col-md-12">
                            <h4><label>Input Master Pages</label></h4>
                        </div>
                        <right-menu-toggle></right-menu-toggle>
                        <div class="col-md-12">
                            <ul>
                                <li class="add_page_chkbx custom_chk_bx">
                                        <div class="chk_bx">
                                                <input id="input-page-def" name="" value="" type="checkbox" [checked]="check0" (change)="check0 = !check0">
                                                <label for="input-page-def">
                                                    input-form.html
                                                </label>
                                            </div>
                                </li>
                                <span *ngIf="data.length!==0">
                                <span *ngFor="let d of data;let i=index">
                                <li class="add_page_chkbx custom_chk_bx">
                                    <div class="chk_bx">
                                        <input id="{{'input-page-' + i}}" name="" value="" type="checkbox" [checked]="check0_input[i]" (change)="check0_input[i] = !check0_input[i]">
                                        <label for="{{'input-page-' + i}}">
                                            {{d.FormName}}
                                        </label>
                                    </div>
                                    
                                </li>
                            </span>
                        </span>
                            </ul>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="row grid_master_pages cmn_page_sec">
                        <div class="col-md-12">
                            <h4><label>Grid Master Pages</label></h4>
                        </div>
                        <div class="col-md-12">
                            <ul>
                                <li class="add_page_chkbx custom_chk_bx">
                                    <div class="chk_bx">
                                        <input id="grid-page-1" name="" type="checkbox" [checked]="checkedGrid" (change)="checkedGrid = !checkedGrid">
                                        <label for="grid-page-1">
                                            Grid-form-1.html
                                        </label>
                                    </div>
                                </li>
                                <span *ngIf="data_grid.length!==0">
                                        <span *ngFor="let d of data_grid;let i=index">
                                        <li class="add_page_chkbx custom_chk_bx">
                                            <div class="chk_bx">
                                                <input id="{{'grid-page-' + i}}" name="" value="" type="checkbox" [checked]="check0_input_grid[i]" (change)="check0_input_grid[i] = !check0_input_grid[i]">
                                                <label for="{{'grid-page-' + i}}">
                                                    {{d.Form_Name}}
                                                </label>
                                            </div>
                                            
                                        </li>
                                    </span>
                                </span>
                                
                            </ul>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="row list_master_pages cmn_page_sec">
                        <div class="col-md-12">
                            <h4><label>List Master Pages</label></h4>
                        </div>
                        <div class="col-md-12">
                            <ul>
                                <li class="add_page_chkbx custom_chk_bx">
                                    <div class="chk_bx">
                                        <input id="list-page-1" name="" value="" type="checkbox">
                                        <label for="list-page-1">
                                            List-form-1.html
                                        </label>
                                    </div>
                                </li>
                                <li class="add_page_chkbx custom_chk_bx">
                                    <div class="chk_bx">
                                        <input id="list-page-2" name="" value="" type="checkbox">
                                        <label for="list-page-2">
                                            List-form-2.html
                                        </label>
                                    </div>
                                </li>
                                <li class="add_page_chkbx custom_chk_bx">
                                    <div class="chk_bx">
                                        <input id="list-page-3" name="" value="" type="checkbox">
                                        <label for="list-page-3">
                                            List-form-3.html
                                        </label>
                                    </div>
                                </li>
                                <li class="add_page_chkbx custom_chk_bx">
                                    <div class="chk_bx">
                                        <input id="list-page-4" name="" value="" type="checkbox">
                                        <label for="list-page-4">
                                            List-form-4.html
                                        </label>
                                    </div>
                                </li>
                                <li class="add_page_chkbx custom_chk_bx">
                                    <div class="chk_bx">
                                        <input id="list-page-5" name="" value="" type="checkbox">
                                        <label for="list-page-5">
                                            List-form-5.html
                                        </label>
                                    </div>
                                </li>
                                <li class="add_page_chkbx custom_chk_bx">
                                    <div class="chk_bx">
                                        <input id="list-page-6" name="" value="" type="checkbox">
                                        <label for="list-page-6">
                                            List-form-6.html
                                        </label>
                                    </div>
                                </li>
                                <li class="add_page_chkbx custom_chk_bx">
                                    <div class="chk_bx">
                                        <input id="list-page-7" name="" value="" type="checkbox">
                                        <label for="list-page-7">
                                            List-form-7.html
                                        </label>
                                    </div>
                                </li>
                                <li class="add_page_chkbx custom_chk_bx">
                                    <div class="chk_bx">
                                        <input id="list-page-8" name="" value="" type="checkbox">
                                        <label for="list-page-8">
                                            List-form-8.html
                                        </label>
                                    </div>
                                </li>
                                <li class="add_page_chkbx custom_chk_bx">
                                    <div class="chk_bx">
                                        <input id="list-page-9" name="" value="" type="checkbox">
                                        <label for="list-page-9">
                                            List-form-9.html
                                        </label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="row widget_master_pages cmn_page_sec">
                        <div class="col-md-12">
                            <h4><label>Widget Master Pages</label></h4>
                        </div>
                        <div class="col-md-12">
                            <ul>
                                <li class="add_page_chkbx custom_chk_bx">
                                    <div class="chk_bx">
                                        <input id="widget-page-1" name="" value="" type="checkbox">
                                        <label for="widget-page-1">
                                            Widget-form-1.html
                                        </label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <footer class="text_center">
            <h4> <label>© 2017 Kleveron. A venture of <a href="#"> SRKay </a> Consulting Group LLP. All Rights Reserved.</label></h4>
        </footer>
        <div class="clearfix">
        </div>
    </div>
    <div class="clearfix"></div>
</div>