            <div class="row page_content cmn_info_wrap">
                <div class="add_paging_section container-fluid">
                    <div class="row input_master_pages cmn_page_sec">
                        <div class="col-md-12">
                            <h4><label>Input Master Pages</label></h4>
                        </div>
                        
                       
                        <div class="col-md-12">
                            <ul>
                                <li class="add_page_chkbx custom_chk_bx">
                                        <div class="chk_bx">
                                                <input id="input-page-def" name="" value="" type="checkbox" [checked]="check0" (change)="check0 = !check0">
                                                <label for="input-page-def">
                                                    input-form.html
                                                </label>
                                            </div>
                                </li>
                                <span *ngIf="data.length!==0">
                                <span *ngFor="let d of data;let i=index">
                                <li class="add_page_chkbx custom_chk_bx">
                                    <div class="chk_bx">
                                        <input id="{{'input-page-' + i}}" name="" value="" type="checkbox" [checked]="check0_input[i]" (change)="check0_input[i] = !check0_input[i]">
                                        <label for="{{'input-page-' + i}}">
                                            {{d.FormName}}
                                        </label>
                                    </div>
                                    
                                </li>
                            </span>
                        </span>
                            </ul>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="row grid_master_pages cmn_page_sec">
                        <div class="col-md-12">
                            <h4><label>Grid Master Pages</label></h4>
                        </div>
                        <div class="col-md-12">
                            <ul>
                                <li class="add_page_chkbx custom_chk_bx">
                                    <div class="chk_bx">
                                        <input id="grid-page-1" name="" type="checkbox" [checked]="checkedGrid" (change)="checkedGrid = !checkedGrid">
                                        <label for="grid-page-1">
                                            Grid-form-1.html
                                        </label>
                                    </div>
                                </li>
                                <span *ngIf="data_grid.length!==0">
                                        <span *ngFor="let d of data_grid;let i=index">
                                        <li class="add_page_chkbx custom_chk_bx">
                                            <div class="chk_bx">
                                                <input id="{{'grid-page-' + i}}" name="" value="" type="checkbox" [checked]="check0_input_grid[i]" (change)="check0_input_grid[i] = !check0_input_grid[i]">
                                                <label for="{{'grid-page-' + i}}">
                                                    {{d.Form_Name}}
                                                </label>
                                            </div>
                                            
                                        </li>
                                    </span>
                                </span>
                                
                            </ul>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="row list_master_pages cmn_page_sec">
                        <div class="col-md-12">
                            <h4><label>List Master Pages</label></h4>
                        </div>
                        <div class="col-md-12">
                            <ul>
                                <li class="add_page_chkbx custom_chk_bx">
                                    <div class="chk_bx">
                                        <input id="list-page-1" name="" value="" type="checkbox">
                                        <label for="list-page-1">
                                            List-form-1.html
                                        </label>
                                    </div>
                                </li>
                                <li class="add_page_chkbx custom_chk_bx">
                                    <div class="chk_bx">
                                        <input id="list-page-2" name="" value="" type="checkbox">
                                        <label for="list-page-2">
                                            List-form-2.html
                                        </label>
                                    </div>
                                </li>
                                <li class="add_page_chkbx custom_chk_bx">
                                    <div class="chk_bx">
                                        <input id="list-page-3" name="" value="" type="checkbox">
                                        <label for="list-page-3">
                                            List-form-3.html
                                        </label>
                                    </div>
                                </li>
                                <li class="add_page_chkbx custom_chk_bx">
                                    <div class="chk_bx">
                                        <input id="list-page-4" name="" value="" type="checkbox">
                                        <label for="list-page-4">
                                            List-form-4.html
                                        </label>
                                    </div>
                                </li>
                                <li class="add_page_chkbx custom_chk_bx">
                                    <div class="chk_bx">
                                        <input id="list-page-5" name="" value="" type="checkbox">
                                        <label for="list-page-5">
                                            List-form-5.html
                                        </label>
                                    </div>
                                </li>
                                <li class="add_page_chkbx custom_chk_bx">
                                    <div class="chk_bx">
                                        <input id="list-page-6" name="" value="" type="checkbox">
                                        <label for="list-page-6">
                                            List-form-6.html
                                        </label>
                                    </div>
                                </li>
                                <li class="add_page_chkbx custom_chk_bx">
                                    <div class="chk_bx">
                                        <input id="list-page-7" name="" value="" type="checkbox">
                                        <label for="list-page-7">
                                            List-form-7.html
                                        </label>
                                    </div>
                                </li>
                                <li class="add_page_chkbx custom_chk_bx">
                                    <div class="chk_bx">
                                        <input id="list-page-8" name="" value="" type="checkbox">
                                        <label for="list-page-8">
                                            List-form-8.html
                                        </label>
                                    </div>
                                </li>
                                <li class="add_page_chkbx custom_chk_bx">
                                    <div class="chk_bx">
                                        <input id="list-page-9" name="" value="" type="checkbox">
                                        <label for="list-page-9">
                                            List-form-9.html
                                        </label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="row widget_master_pages cmn_page_sec">
                        <div class="col-md-12">
                            <h4><label>Widget Master Pages</label></h4>
                        </div>
                        <div class="col-md-12">
                            <ul>
                                <li class="add_page_chkbx custom_chk_bx">
                                    <div class="chk_bx">
                                        <input id="widget-page-1" name="" value="" type="checkbox">
                                        <label for="widget-page-1">
                                            Widget-form-1.html
                                        </label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        
        <div class="clearfix">
        </div>
    <div class="clearfix"></div>
