<!-- <div class="wrapper">
        <div class="aside left">
            <div class="dash_logo">
                <a href="#">
                    <img src="/assets/images/settings/logo_dashboard.png" alt="kleveron" />
                </a>
            </div>
            <div class="aside_nav">
                <div class="sidebar-menu">
                    <ul class="menu">
                        <li>
                            <h3>
                                <label>
                                    Main
                                </label>
                            </h3>
                        </li>
                        <li class="active">
                            <a routerLink="/adminPanel">
                                <img src="/assets/images/settings/Job-postings.png" class="icon-img" />
                                <span>
                                    <label>
                                        Admin Panel
                                    </label>
                                </span>
                            </a>
    
                        </li>
                        <li>
                            <a routerLink="/adminInpuMaster">
                                <img src="/assets/images/settings/Job-postings.png" class="icon-img" />
                                <span>
                                    <label>
                                        Input Master
                                    </label>
                                </span>
                            </a>
    
                        </li>
                        <li>
                            <a routerLink="/adminGridMaster">
                                <img src="/assets/images/settings/Job-postings.png" class="icon-img" />
                                <span>
                                    <label>
                                        Grid Master
                                    </label>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a routerLink="/adminListMaster">
                                <img src="/assets/images/settings/Job-postings.png" class="icon-img" />
                                <span>
                                    <label>
                                        List Master
                                    </label>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="admin-widget-master.html">
                                <img src="/assets/images/settings/Job-postings.png" class="icon-img" />
                                <span>
                                    <label>
                                        Widget Master
                                    </label>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="content_wrap right">
            <header class="frame_header">
                <div class="row">
                    <div class="col-xs-4">
                        <div class="navbar-header">
                            <i class="fa fa-bars"></i>
                        </div>
                    </div>
                    <div class="col-xs-4 text_center mob_head">
                        <h1>
                            <label>
                                Framework
                            </label>
                        </h1>
                    </div>
                    <div class="col-sm-4">
                        <div class="header-rightside">
                            <ul class="list-inline header-top pull-right navbar-right">
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        <img src="/assets/images/settings/user.png" alt="" class="user-icon">
                                        <span>
                                            <label>
                                                John Smith
                                            </label>
                                        </span> <b class="caret"></b>
                                    </a>
                                    <ul class="dropdown-menu animated fadeInUpShort">
                                        <li>
                                            <a href="#" class="view btn-sm">
                                                <label>
                                                    View Profile
                                                </label>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="view btn-sm">
                                                <label>
                                                    Logout
                                                </label>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="icon-info dropdown-toggle" data-toggle="dropdown"
                                       role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-language"
                                           aria-hidden="true"></i>
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-right animated fadeInUpShort">
                                        <li>
                                            <a href="#" class="view btn-sm">
                                                <label>
                                                    English
                                                </label>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="view btn-sm">
                                                <label>
                                                    Gujarati
                                                </label>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="icon-info dropdown-toggle" data-toggle="dropdown"
                                       role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-bell" aria-hidden="true">
                                        </i>
                                    </a>
                                    <ul class="dropdown-menu notify-drop animated fadeInUpShort">
                                        <div class="notify-drop-title">
                                            <div class="row">
                                                <div class="col-md-6 col-sm-6 col-xs-6">
                                                    <label>
                                                        Hiren (<b>2</b>)
                                                    </label>
                                                </div>
                                                <div class="col-md-6 col-sm-6 col-xs-6 text-right">
                                                    <a href=""><i class="fa fa-dot-circle-o"></i></a>
                                                </div>
                                                <div class="clearfix">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="drop-content">
                                            <li>
                                                <div class="col-md-3 col-sm-3 col-xs-3">
                                                    <div class="notify-img">
                                                        <img src="/assets/images/on-boarding/notification-img.png" alt="">
                                                    </div>
                                                </div>
                                                <div class="col-md-9 col-sm-9 col-xs-9 pd-l0">
                                                    <a href="">
                                                        <label>
                                                            Ahmet
                                                        </label>
                                                    </a><p>
                                                        <label>
                                                            Lorem ipsum sit dolor amet consilium. Saat önce
                                                        </label>
                                                    </p>
                                                </div>
                                                <div class="clearfix">
                                                </div>
                                            </li>
                                            <li>
                                                <div class="col-md-3 col-sm-3 col-xs-3">
                                                    <div class="notify-img">
                                                        <img src="/assets/images/on-boarding/notification-img.png" alt="">
                                                    </div>
                                                </div>
                                                <div class="col-md-9 col-sm-9 col-xs-9 pd-l0">
                                                    <a href="">
                                                        <label>
                                                            Ahmet
                                                        </label>
                                                    </a><p>
                                                        <label>
                                                            Lorem ipsum sit dolor amet consilium. Saat önce
                                                        </label>
                                                    </p>
                                                </div>
                                                <div class="clearfix">
                                                </div>
                                            </li>
                                            <li>
                                                <div class="col-md-3 col-sm-3 col-xs-3">
                                                    <div class="notify-img">
                                                        <img src="/assets/images/on-boarding/notification-img.png" alt="">
                                                    </div>
                                                </div>
                                                <div class="col-md-9 col-sm-9 col-xs-9 pd-l0">
                                                    <a href="">
                                                        <label>
                                                            Ahmet
                                                        </label>
                                                    </a><p>
                                                        <label>
                                                            Lorem ipsum sit dolor amet consilium. Saat önce
                                                        </label>
                                                    </p>
                                                </div>
                                                <div class="clearfix">
                                                </div>
                                            </li>
                                            <li>
                                                <div class="col-md-3 col-sm-3 col-xs-3">
                                                    <div class="notify-img">
                                                        <img src="/assets/images/on-boarding/notification-img.png" alt="">
                                                    </div>
                                                </div>
                                                <div class="col-md-9 col-sm-9 col-xs-9 pd-l0">
                                                    <a href="">
                                                        <label>
                                                            Ahmet
                                                        </label>
                                                    </a><p>
                                                        <label>
                                                            Lorem ipsum sit dolor amet consilium. Saat önce
                                                        </label>
                                                    </p>
                                                </div>
                                                <div class="clearfix">
                                                </div>
                                            </li>
                                        </div>
                                        <div class="notify-drop-footer text-center">
                                            <a href="">
                                                <i class="fa fa-eye"></i>
                                                <label>
                                                    View All
                                                </label>
                                            </a>
                                        </div>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </header>
            <div class="container-fluid bgwhite">
              
              
                <div class="row page_header">
                    <div class="col-xs-6">
                        <h2 class="head">
                            <label>
                                Input Forms
                            </label>
                        </h2>
                    </div>
                    <div class="col-xs-6">
                        <img src="/assets/images/on-boarding/onbrd-icon.png" class="icon-img pull-right" />
                    </div>
                </div>
                
                
                <div class="row page_content cmn_info_wrap">
                    <div class="framework1 container-fluid">
                        <div class="detail_wrapper">
                            <div class="detail_nav_menu">
                                <div class="company_details">
                                    <!-- <table>
                                        <div *ngFor="let d of data;let i =index">
                                            <tr (click)="getTemplateByIndex(i)">Template No. {{i}}</tr>
                                        </div>
                                    </table> 

                                    <form #myForm="ngForm">
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6 col-xs-12 element_box" *ngIf="showText"> 
                                          
                                            <input name="first" class="cmn_input" placeholder={{pholder0}} [id]="strid0" [(ngModel)]="str0" (ngModelChange)="str0 = $event" [required]="req0">
                                            <!-- <div *ngIf="strid0?.errors && !strid0?.valid && !(strid0?.dirty || strid0?.touched) && myForm.submitted">
                                                <div *ngIf="strid0?.errors.required"> {{valmsg}} </div>
                                                </div> 
                                               
                                        </div>
                                        <div *ngFor="let tb of Textboxes;let i=index">
                                            <div *ngIf="showTextBox && tb!==undefined">
                    <div class="col-md-6 col-sm-6 col-xs-12 element_box">
                          
                            
                            <input  class="cmn_input" [placeholder]="tb.pholder" [id]="tb.id" [value]="tb.value" [(ngModel)]="tb.value" (ngModelChange)="tb.value = $event" name="{{'h'+tb.idx}}" [required]="req0">
                           
    
                        </div>
                    </div>
                    </div>
    
    
    
    
                    <div class="col-md-6 col-sm-6 col-xs-12 element_box ngx-dnd-item ngx-dnd-container" ngxDraggable ngxDroppable *ngIf="showText_CHA">
                       
                        <textarea [id]="strid0_CHA" class="cmn_input" [placeholder]="pholder0_CHA" [value]="str0_CHA" [(ngModel)]="str0_CHA" (ngModelChange)="str0_CHA = $event" name="appy" [required]="req0_CHA"></textarea>
                        <div *ngIf="strid0_CHA?.errors && (strid0_CHA?.dirty || strid0_CHA?.touched)">
                            <div *ngIf="strid0_CHA?.errors.required"> {{valmsg_CHA}} </div>
                            </div>
                    </div>
    
                    <div *ngFor = "let tb of Textboxes_CHA;let i=index">
                        <div *ngIf="showTextBox_CHA && tb!==undefined" >
                <div class="col-md-6 col-sm-6 col-xs-12 element_box ngx-dnd-item" ngxDraggable>
                     
                        <textarea name="{{'CHA-'+i}}" [id]="tb.id" class="cmn_input" [placeholder]="tb.pholder" [value]="tb.value" [(ngModel)]="tb.value" (ngModelChange)="tb.value = $event"></textarea>
                        <div *ngIf="tb.id?.errors && (tb.id?.dirty || tb.id?.touched)">
                            <div *ngIf="tb.id?.errors.required"> {{tb.valmsg}} </div>
                            </div>
    
                    </div>
                    </div>
                </div>
    
                <div class="col-md-6 col-sm-6 col-xs-12 element_box ngx-dnd-item" ngxDraggable *ngIf="showText_CEO">
                   
                    <input class="cmn_input" [placeholder]="pholder0_CEO" [id]="strid0_CEO" [(ngModel)]="str0_CEO" (ngModelChange)="str0_CEO = $event" name="strCEO">
                    <div *ngIf="strid0_CEO.errors && (strid0_CEO?.dirty || strid0_CEO?.touched)">
                        <div *ngIf="strid0_CEO?.errors.required"> {{valmsg_CEO}} </div>
                        </div>
                </div>
    
                <div *ngIf="showTextBox_CEO" >
                    <div *ngFor = "let tb of Textboxes_CEO">
                        <div *ngIf="tb!==undefined"> 
                <div class="col-md-6 col-sm-6 col-xs-12 element_box ngx-dnd-item" ngxDraggable>
                      
                        <textarea name="{{'CEO-'+tb.idx}}" [id]="tb.id" class="cmn_input" [placeholder]="tb.pholder"  [(ngModel)]="tb.value" (ngModelChange)="tb.value = $event" name="tb.id"></textarea>
                        <div *ngIf="tb.id?.errors && (tb.id?.dirty || tb.id?.touched)">
                            <div *ngIf="tb.id?.errors.required"> {{tb.valmsg}} </div>
                            </div>
                    </div>
                    </div>
                </div>
            </div>
    
            <div class="col-md-6 col-sm-6 col-xs-12 element_box ngx-dnd-item" ngxDraggable *ngIf="showText_city">
              
                <input name="strid0_city" class="cmn_input" [placeholder]="pholder0_city" [id]="strid0_city" [value]="str0_city" [(ngModel)]="str0_city" (ngModelChange)="str0_city = $event">
                <div *ngIf="strid0_city.errors && (strid0_city?.dirty || strid0_city?.touched)">
                    <div *ngIf="strid0_city?.errors.required"> {{valmsg_city}} </div>
                    </div>
            </div>
    
    
            <div *ngIf="showTextBox_city" >
                <div *ngFor = "let tb of Textboxes_city">
                    <div *ngIf="tb!==undefined"> 
            <div class="col-md-6 col-sm-6 col-xs-12 element_box ngx-dnd-item" ngxDraggable>
                  
                            <input name="{{'city-'+tb.idx}}" class="cmn_input" [placeholder]="tb.pholder" [id]="tb.id" [(ngModel)]="tb.value" (ngModelChange)="tb.value = $event">
                            <div *ngIf="tb.id?.errors && (tb.id?.dirty || tb.id?.touched)">
                                <div *ngIf="tb.id?.errors.required"> {{tb.valmsg}} </div>
                                </div>  
                </div>
                </div>
            </div>
        </div>
        
        <div class="col-md-6 col-sm-6 col-xs-12 selectdiv element_box ngx-dnd-item" ngxDraggable *ngIf="showText_aob">
           
            <label>
                <select name="strid0_aob" class="cmn_input" [id]="strid0_aob" [(ngModel)]="aob_val">
                    <option *ngFor="let aob of aob0;let i=index"  [value]="aob" [selected]="i==0">{{aob0[i]}}</option>
                    
                </select>
            </label>
            <div *ngIf="strid0_aob?.errors && (strid0_aob?.dirty || strid0_aob?.touched)">
                <div *ngIf="strid0_aob?.errors.required"> {{valmsg_aob}} </div>
                </div>
        </div>    
    
    
        <div *ngIf="showTextBox_aob" >
            <div *ngFor = "let tb of Textboxes_aob;let i=index">
                <div *ngIf="tb!==undefined"> 
        <div class="col-md-6 col-sm-6 col-xs-12 element_box ngx-dnd-item" ngxDraggable>
               
                        <label>
                                <select name="{{'aob-'+tb.idx}}" class="cmn_input" [id]="tb.id" [(ngModel)]="area[i]">
                                    <option *ngFor="let aob of tb.values;let i=index"  [value]="aob" [selected]="i==0">{{aob}}</option>
                                </select>
                            </label>   
                            <div *ngIf="tb.id?.errors && (tb.id?.dirty || tb.id?.touched)">
                                <div *ngIf="tb.id?.errors.required"> {{tb.valmsg}} </div>
                                </div>
                        
                        </div>
            </div>
        </div>
                </div>
    
    
    
                                    
                <div class="col-md-6 col-sm-6 col-xs-12 selectdiv element_box ngx-dnd-item" ngxDraggable *ngIf="showText_state">
                   
                    <label>
                        <select name="state0" class="cmn_input" [id]="strid0_state" [(ngModel)]="state_val">
                            <option *ngFor="let aob of str0_state;let i=index"  [value]="aob" [selected]="i==0">{{aob}}</option>
                        </select>
                    </label>
                    <div *ngIf="strid0_aob.errors && (strid0_aob?.dirty || strid0_aob?.touched)">
                        <div *ngIf="strid0_aob?.errors.required"> {{valmsg_state}} </div>
                        </div>
                </div>
    
                <div *ngIf="showTextBox_state">
                    <div *ngFor="let tb of Textboxes_state;let i=index">
                        <div *ngIf="tb!==undefined">  
                <div class="col-md-6 col-sm-6 col-xs-12 selectdiv element_box ngx-dnd-item" ngxDraggable>
                        
                        <label>
                            <select name="{{'state-'+tb.idx}}" class="cmn_input" [id]="tb.id" [(ngModel)]="state[i]">
                                <option *ngFor="let state of tb.values;let i=index" [value]="state" [selected]="i==0">{{state}}</option>
        
                            </select>
                        </label>
                        <div *ngIf="tb.id?.errors && (tb.id?.dirty || tb.id?.touched)">
                            <div *ngIf="tb.id?.errors.required"> {{tb.valmsg}} </div>
                            </div>
                        </div>
                    </div>
                    </div>
                
                </div>
    
                <div class="col-md-6 col-sm-6 col-xs-12 selectdiv element_box ngx-dnd-item" ngxDraggable *ngIf="showText_noe">
                   
                    <label>
                        <select class="cmn_input" name="strid0_noe" [id]="strid0_noe" [(ngModel)]="noe_val" (ngModelChange)="noe_val = $event">
                            <option *ngFor="let data of str0_noe;let i=index" [value]="data" [selected]="i==0">{{data}}</option>
                        </select>
                    </label>
                    <div *ngIf="strid0_noe.errors && (strid0_noe?.dirty || strid0_noe?.touched)">
                        <div *ngIf="strid0_noe?.errors.required"> {{valmsg_noe}} </div>
                        </div>
                </div>
    
                <div *ngIf="showTextBox_noe">                                                
                    <div *ngFor="let tb of Textboxes_NOE;let i=index">
                        <div *ngIf="tb!==undefined"> 
                    <div class="col-md-6 col-sm-6 col-xs-12 selectdiv element_box ngx-dnd-item" ngxDraggable>
                           
                            <label>
                                <select name="{{'noe-'+tb.idx}}" class="cmn_input" [id]="tb.id" [(ngModel)]="numberOfEmployees[i]">
                                    <option *ngFor="let data of tb.values;let i=index" [value]="data" [selected]="i==0">{{data}}</option>
                                </select>
                            </label>
                            <div *ngIf="tb.id?.errors && (tb.id?.dirty || tb.id?.touched)">
                                <div *ngIf="tb.id?.errors.required"> {{tb.valmsg}} </div>
                                </div>
                        </div>
                    </div>
                    </div>
                    </div>
    
    
                    <div class="col-md-6 col-sm-6 col-xs-12 selectdiv element_box ngx-dnd-item" ngxDraggable *ngIf="showText_ctry">
                     
                        <label>
                            <select name="strid0_ctry" class="cmn_input" [id]="strid0_ctry" [(ngModel)]="ctry_val">
                                <option *ngFor="let country of str0_ctry;let i=index" [value]="country" [selected]="i==0">{{country}}</option>
                            </select>
                        </label>
                        <div *ngIf="strid0_ctry.errors && (strid0_ctry?.dirty || strid0_ctry?.touched)">
                            <div *ngIf="strid0_ctry?.errors.required"> {{valmsg_ctry}} </div>
                            </div>
                    </div>
    
    
                    <div *ngIf="showTextBox_ctry" >
                        <div *ngFor="let tb of Textboxes_ctry;let i=index">
                            <div *ngIf="tb!==undefined"> 
                    <div class="col-md-6 col-sm-6 col-xs-12 selectdiv element_box ngx-dnd-item" ngxDraggable>
                           
                                    <label>
                                            <select name="{{'ctry'+tb.idx}}" class="cmn_input" [id]="tb.id" [(ngModel)]="country[i]">
                                                <option *ngFor="let country of tb.values;let i=index" [value]="country" [selected]="i==0">{{country}}</option>
                                            </select>
                                        </label>
                                        <div *ngIf="tb.id?.errors && (tb.id?.dirty || tb.id?.touched)">
                                            <div *ngIf="tb.id?.errors.required"> {{tb.valmsg}} </div>
                                            </div>
                        </div>
                        </div>
                    </div>
                    </div>
    
    
                    <div class="col-md-6 col-sm-6 col-xs-12 custom_chk_bx element_box ngx-dnd-item" ngxDraggable *ngIf="showText_cbox">
                       
                        <span class="chk_bx">
                            <input type="checkbox" [id]="strid0_cbox[0]" name="chx1" value="" [checked]="checkbox_1" (change)="checkbox_1 = !checkbox_1">
                            <label [for]="strid0_cbox[0]">
                                {{str0_cbox[0]}}
                            </label>
                        </span><span class="chk_bx">
                            <input type="checkbox" [id]="strid0_cbox[1]" name="chx1" value="" [checked]="checkbox_2" (change)="checkbox_2 = !checkbox_2">
                            <label [for]="strid0_cbox[1]">
                                {{str0_cbox[1]}}
                            </label>
                        </span>
                        <div *ngIf="strid0_cbox.errors && (strid0_cbox?.dirty || strid0_cbox?.touched)">
                            <div *ngIf="strid0_cbox?.errors.required"> {{valmsg_cbox}} </div>
                            </div>
                    </div>
    
                    <div *ngIf="showTextBox_cbox">
                        <div *ngFor="let tb of Textboxes_cbox;let i=index">
                            <div *ngIf="tb!==undefined"> 
                        <div class="col-md-6 col-sm-6 col-xs-12 custom_chk_bx element_box ngx-dnd-item" ngxDraggable>
                               
                                <span class="chk_bx">
                                    <input type="checkbox" [id]="tb.ids[0]" name="{{'chx'+tb.idx}}" value="" [checked]="checkboxes_1[i]" (change)="checkboxes_1[i]=!checkboxes_1[i]">
                                    <label for="tb.ids[0]">
                                        {{tb.values[0]}}
                                    </label>
                                </span><span class="chk_bx">
                                    <input type="checkbox" [id]="tb.ids[1]" name="{{'chx'+tb.idx}}" value="" [checked]="checkboxes_2[i]" (change)="checkboxes_2[i]=!checkboxes_2[i]">
                                    <label for="tb.ids[1]">
                                       {{tb.values[1]}}
                                    </label>
                                </span>
                                <div *ngIf="tb.id?.errors && (tb.id?.dirty || tb.id?.touched)">
                                    <div *ngIf="tb.id?.errors.required"> {{tb.valmsg}} </div>
                                    </div>
                            </div>
                        </div>
                        </div>
                        </div>
    
                        <div class="col-md-6 col-sm-6 col-xs-12 element_box ngx-dnd-item" ngxDraggable *ngIf="showText_info">
                           
                            <label [class]="lclass0_info" [id]="lid0_info">
                            {{lname0_info}}
                            </label>
                            <textarea name="infoBox" [id]="strid0_info" class="cmn_input" [placeholder]="pholder0_info" [value]="str0_info" [(ngModel)]="Other_Info" (ngModelChange)="Other_Info = $event"></textarea>
                            <div *ngIf="strid0_info.errors && (strid0_info?.dirty || strid0_info?.touched)">
                                <div *ngIf="strid0_info?.errors.required"> {{valmsg_info}} </div>
                                </div>
                        </div>
    
                            <div *ngFor="let tb of Textboxes_info">
                                <div *ngIf="showTextBox_info && tb!==undefined"> 
                        <div class="col-md-6 col-sm-6 col-xs-12 element_box ngx-dnd-item" ngxDraggable>
                            
                            <label [class]="tb.lclass" [id]="tb.lid">
                        {{tb.lname}}
                            </label>
                            <textarea name="{{'info-'+tb.idx}}" [id]="tb.id" class="cmn_input" [placeholder]="tb.pholder" [value]="tb.value" [(ngModel)]="str0_info" (ngModelChange)="str0_info = $event"></textarea>
                            <div *ngIf="tb.id?.errors && (tb.id?.dirty || tb.id?.touched)">
                                <div *ngIf="tb.id?.errors.required"> {{tb.valmsg}} </div>
                                </div>
                        </div>
                            </div>
                        </div>
                        <div class="clearfix">
                        </div>
                    </div>
                
    
                                    <div class="row social_sec">
                                        <div class="col-md-6 col-sm-6 col-xs-12 element_box ngx-dnd-item" ngxDraggable *ngIf="showText_tw">
                                          
                                            <div class="row">
                                                <div class="col-md-2 col-sm-2 col-xs-2 social_col">
                                                    <div class="social_icon twitter">
                                                        <i class="fa fa-twitter" aria-hidden="true"></i>
                                                    </div>
                                                </div>
                                                <div class="col-md-10 col-sm-10 col-xs-10 social_input">
                                                    <input name="strid0_tw" class="cmn_input" [placeholder]="pholder0_tw" [id]="strid0_tw" [value]="str0_tw" [(ngModel)]="str0_tw" (ngModelChange)="str0_tw = $event">
                                                </div>
                                                <div *ngIf="strid0_tw.errors && (strid0_tw?.dirty || strid0_tw?.touched)">
                                                    <div *ngIf="strid0_tw?.errors.required"> {{valmsg_tw}} </div>
                                                    </div>
                                    
                                            </div>
                                        </div>
    
    
                                        <div *ngIf="showTextBox_tw">
                                            <div *ngFor="let tb of Textboxes_tw">
                                                <div *ngIf="tb!==undefined">
                                        <div class="col-md-6 col-sm-6 col-xs-12 element_box ngx-dnd-item" ngxDraggable>
                                                
                                        
                                                <div class="row">
                                                    <div class="col-md-2 col-sm-2 col-xs-2 social_col">
                                                        <div class="social_icon twitter">
                                                            <i class="fa fa-twitter"></i>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-10 col-sm-10 col-xs-10 social_input">
                                                        <input name="{{'tw-'+tb.idx}}" class="cmn_input" [placeholder]="tb.pholder" [id]="tb.id" [value]="tb.value" [(ngModel)]="tb.value" (ngModelChange)="tb.value = $event">
                                                    </div>
                                                    <div *ngIf="tb.id?.errors && (tb.id?.dirty || tb.id?.touched)">
                                                        <div *ngIf="tb.id?.errors.required"> {{tb.valmsg}} </div>
                                                        </div>
                                                </div>
                                        
                                            </div>
                                            </div>
                                        </div>
                                        </div>
                                        
                                        <div class="col-md-6 col-sm-6 col-xs-12 element_box ngx-dnd-item" ngxDraggable *ngIf="showText_fb">
                                          
                                            <div id="comp11">
                                            <div class="row">
                                                <div class="col-md-2 col-sm-2 col-xs-2 social_col">
                                                    <div class="social_icon fb">
                                                        <i class="fa fa-facebook" aria-hidden="true"></i>
                                                    </div>
                                                </div>
                                                <div class="col-md-10 col-sm-10 col-xs-10 social_input">
                                                    <input name="strid0_fb" class="cmn_input" [placeholder]="pholder0_fb" [value]="str0_fb" [id]="strid0_fb" [(ngModel)]="str0_fb" (ngModelChange)="str0_fb = $event">
                                                </div>
                                                <div *ngIf="strid0_fb.errors && (strid0_fb?.dirty || strid0_fb?.touched)">
                                                    <div *ngIf="strid0_fb?.errors.required"> {{valmsg_fb}} </div>
                                                    </div>
                                            </div>
                                            </div>
                                        </div>
    
                                        <div *ngIf="showTextBox_fb" >
                                            <div *ngFor="let tb of Textboxes_fb">
                                                <div *ngIf="tb!==undefined"> 
                                        <div class="col-md-6 col-sm-6 col-xs-12 element_box ngx-dnd-item" ngxDraggable>
                                               
                                                <div class="row">
                                                    <div class="col-md-2 col-sm-2 col-xs-2 social_col">
                                                        <div class="social_icon fb">
                                                            <i class="fa fa-facebook" aria-hidden="true"></i>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-10 col-sm-10 col-xs-10 social_input">
                                                        <input name="{{'fb-'+tb.idx}}" class="cmn_input" [placeholder]="tb.pholder" [id]='tb.id' [value]="tb.value" [(ngModel)]="tb.value" (ngModelChange)="tb.value = $event">
                                                    </div>
                                                    <div *ngIf="tb.id?.errors && (tb.id?.dirty || tb.id?.touched)">
                                                        <div *ngIf="tb.id?.errors.required"> {{tb.valmsg}} </div>
                                                        </div>
                                                </div>
                                                </div>
                                            </div>
                                        </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12 element_box ngx-dnd-item" ngxDraggable *ngIf="showText_ll">
                                            
                                            <div id="comp12">
                                            <div class="row">
                                                <div class="col-md-2 col-sm-2 col-xs-2 social_col">
                                                    <div class="social_icon linked_in">
                                                        <i class="fa fa-linkedin" aria-hidden="true"></i>
                                                    </div>
                                                </div>
                                                <div class="col-md-10 col-sm-10 col-xs-10 social_input">
                                                    <input name="strid0_ll" class="cmn_input" [placeholder]="pholder0_ll" [id]='strid0_ll' [value]='str0_ll' [(ngModel)]="str0_ll" (ngModelChange)="str0_ll = $event">
                                                </div>
                                                <div *ngIf="strid0_ll.errors && (strid0_ll?.dirty || strid0_ll?.touched)">
                                                    <div *ngIf="strid0_ll?.errors.required"> {{valmsg_ll}} </div>
                                                    </div>
                                            </div>
                                            </div>
                                        </div>
                                        <div *ngIf="showTextBox_ll">
                                            <div *ngFor="let tb of Textboxes_ll">
                                                <div *ngIf="tb!==undefined">
                                    <div class="col-md-6 col-sm-6 col-xs-12 element_box ngx-dnd-item" ngxDraggable>
                                          
                                            <div id="comp12">
                                            <div class="row">
                                                <div class="col-md-2 col-sm-2 col-xs-2 social_col">
                                                    <div class="social_icon linked_in">
                                                        <i class="fa fa-linkedin" aria-hidden="true"></i>
                                                    </div>
                                                </div>
                                                <div class="col-md-10 col-sm-10 col-xs-10 social_input">
                                                    <input class="cmn_input" name="{{'ll-'+tb.idx}}" [placeholder]="tb.pholder" [id]="tb.id" [value]='tb.value' [(ngModel)]="tb.value" (ngModelChange)="tb.value = $event" >
                                                </div>
                                                <div *ngIf="tb.id?.errors && (tb.id?.dirty || tb.id?.touched)">
                                                    <div *ngIf="tb.id?.errors.required"> {{tb.valmsg}} </div>
                                                    </div>
                                            </div>
                                            </div>
                                        </div>
                                            </div>
                                    </div>
                                    </div>
                                       
                                    <div class="col-md-6 col-sm-6 col-xs-12 element_box ngx-dnd-item" ngxDraggable *ngIf="showText_gplus">
                                      
                                        <div id="comp13">
                                        <div class="row">
                                            <div class="col-md-2 col-sm-2 col-xs-2 social_col">
                                                <div class="social_icon g__plus">
                                                    <i class="fa fa-google-plus" aria-hidden="true"></i>
                                                </div>
                                            </div>
                                            <div class="col-md-10 col-sm-10 col-xs-10 social_input">
                                                <input class="cmn_input" [placeholder]="pholder0_gp" [id]="strid0_gp" [value]="str0_gp" [(ngModel)]="str0_gp" (ngModelChange)="str0_gp = $event" name="strid0_gp">
                                            </div>
                                            <div *ngIf="strid0_gp.errors && (strid0_gp?.dirty || strid0_gp?.touched)">
                                                <div *ngIf="strid0_gp?.errors.required"> {{valmsg_gp}} </div>
                                                </div>
                                        </div>
                                        </div>
                                    </div>
                                        
                                    <div *ngIf="showTextBox_gplus">
                                        <div *ngFor="let tb of Textboxes_gplus">
                                            <div *ngIf="tb!==undefined"> 
                                    <div class="col-md-6 col-sm-6 col-xs-12 element_box ngx-dnd-item" ngxDraggable>
                                           
                                            <div id="comp13">
                                            <div class="row">
                                                <div class="col-md-2 col-sm-2 col-xs-2 social_col">
                                                    <div class="social_icon g__plus">
                                                        <i class="fa fa-google-plus" aria-hidden="true"></i>
                                                    </div>
                                                </div>
                                                <div class="col-md-10 col-sm-10 col-xs-10 social_input">
                                                    <input name="{{'gp-'+tb.idx}}" class="cmn_input" [placeholder]="tb.pholder" [id]="tb.id" [value]="tb.value" [(ngModel)]="tb.value" (ngModelChange)="tb.value = $event">
                                                </div>
                                                <div *ngIf="tb.id?.errors && (tb.id?.dirty || tb.id?.touched)">
                                                    <div *ngIf="tb.id?.errors.required"> {{tb.valmsg}} </div>
                                                    </div>
                                            </div>
                                            </div>
                                        </div>
    
                                    <div class="clearfix">
                                    </div>
                                </div>
                                    </div>
                                    </div>
    
    
                                        <div class="clearfix">
                                        </div>
                                    </div>
                                    <div class="detail_btn frmwrk_btn">
                                        
            
                                        <button type="button"  class="btn1 btn save_btn" (click)="saveClick()">
                                            <label>
                                                Submit
                                            </label>
                                        </button>
                                        
                                                                                    
                                </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <footer class="text_center">
                    <h4>
                        <label>
                            © 2017 Kleveron. A venture of <a href="#">SRKay </a>Consulting Group LLP. All Rights
                            Reserved.
                        </label>
                    </h4>
                </footer>
            </div>
            <div class="clearfix">
            </div>
        </div>
        <div class="clearfix">
        </div>
    </div>
    
    <div class="modal fade control_mdl" id="input_control_URL" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content
            <div class="modal-content">
                
                <div class="modal_tabs add_control">
                    <div class="modal-header"> 
                        <button type="button" class="mdl_close" data-dismiss="modal">
                            &times;
                        </button>
                        <h4>
                            <label class="modal-title">Edit Form URL</label>
                        </h4>
                    </div>
                    <div class="modal-body">
                       
                     
                        <div class="row col_outer cntrl_info">
                            <div class="col-md-4 col-xs-12 lbl_cntrl">
                                    <label class="lbl_hdr">
                                      Form Name
                                    </label>
                                    <input class="cmn_input" type="text" [(ngModel)]="formName" #formname>
                                </div>               
                
                    
                        <div class="col-md-4 col-xs-12 lbl_cntrl">
                                <label class="lbl_hdr">
                                  Form Submit URL (start with "/")
                                </label>
                                <input class="cmn_input" type="text" [(ngModel)]="formUrl" #formurl>
                            </div>               
                </div>
    
                    </div>
                    <div class="modal-footer modal_btn">
                        <button type="button" class="btn sv_btn" (click)="saveClick()">
                            <label>
                                Save
                            </label>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="modal fade control_mdl" id="input_control_Modal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content
        <div class="modal-content">
            
            <div class="modal_tabs add_control">
                <div class="modal-header"> 
                    <button type="button" class="mdl_close" data-dismiss="modal">
                        &times;
                    </button>
                    <h4>
                        <label class="modal-title">Edit Control</label>
                    </h4>
                </div>
                <div class="modal-body">
                    
                    <div class="row col_outer cntrl_info">
                            <div class="col-md-4 col-xs-12 lbl_cntrl" style="display:none">
                                    <label class="lbl_hdr">
                                        Control Parent ID
                                    </label>
                                    <input class="cmn_input" type="text" #ctpar>
                                </div>
                        <div class="col-md-4 col-xs-12 lbl_cntrl">
                            <label class="lbl_hdr">
                                Control Id
                            </label>
                            <input class="cmn_input" type="text" #ctid>
                        </div>
                        <div class="col-md-4 col-xs-12 lbl_cntrl">
                            <label class="lbl_hdr">
                                Control Value
                            </label>
                            <input class="cmn_input" type="text" #ctval>
                        </div>
                        <div class="col-md-4 col-xs-12 lbl_cntrl">
                            <label class="lbl_hdr">
                                Control Placeholder
                            </label>
                            <input class="cmn_input" type="text" #ctph>
                        </div>
                        <div class="col-md-4 col-xs-12 custom_chk_bx">
                            <div class="chk_bx chk_top">
                                <input type="checkbox" id="vldtn_btn1" #ctvbx (click)="filterData()">
                                <label for="vldtn_btn1">
                                    Validation Required
                                </label>
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-12 hide_lbl">
                            <label class="lbl_hdr">
                                Validation Message
                            </label>
                            <input class="cmn_input" type="text" #ctvmsg>
                        </div>
                    </div>
                </div>
                <div class="modal-footer modal_btn">
                    <button type="button" class="btn sv_btn" (click)="saveCntrl(ctpar.value,ctid.value,ctval.value,ctph.value,ctvbx.value,ctvmsg.value)">
                        <label>
                            Save
                        </label>
                    </button>
                </div>
            </div>
        </div>
    </div>
    </div>
    
    <!-- label Modal 
    
    <div class="modal fade control_mdl" id="input_label_Modal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content
        <div class="modal-content">
            
            <div class="modal_tabs add_label">
                <div class="modal-header">
                    <button type="button" class="mdl_close" data-dismiss="modal">&times;</button>
                    <h4><label class="modal-title">Edit Label</label></h4>
                </div>
                <div class="modal-body">
                    
                    <div class="row col_outer">
                        <div class="col-md-4 lbl_cntrl">
                            <label class="lbl_hdr" >Label ID</label>
                            <input class="cmn_input" type="text" #labelid>
                        </div>
                        <div class="col-md-4 lbl_cntrl">
                            <label class="lbl_hdr" >Label Name</label>
                            <input class="cmn_input" type="text" #labelnm>
                        </div>
                        <div class="col-md-4 lbl_cntrl">
                            <label class="lbl_hdr" >Label Class</label>
                            <input class="cmn_input" type="text" #labelclass>
                        </div>
                    </div>
                </div>
                <div class="modal-footer modal_btn">
                    <button type="button" class="btn nx_btn" (click)="saveLabel(labelid.value,labelnm.value,labelclass.value)"><label>Next</label></button>
                   
                    <!-- <button type="button" class="btn sv_btn"><label>Save</label></button> 
                </div>
            </div>
            <div class="modal_tabs add_control">
                <div class="modal-header">
                    <button type="button" class="mdl_close" data-dismiss="modal">&times;</button>
                    <h4><label class="modal-title">Edit Controls</label></h4>
                </div>
                <div class="modal-body">
                    <div class="div_hdr row">
                        <div class="col-md-12"> <h4><label>Select Control</label></h4></div>
                    </div>
                    
                    <div class="row col_outer cntrl_info">
                            <div class="col-md-4 col-xs-12 lbl_cntrl" style="display:none">
                                    <label class="lbl_hdr" >Parent Control Id</label>
                                    <input id="cntrl_parent" type="text" #cntrlpar>
                                </div>
                        <div class="col-md-4 col-xs-12 lbl_cntrl">
                            <label class="lbl_hdr" >Control Id</label>
                            <input class="cmn_input" type="text" #cntrlid >
                        </div>
    
                        <div class="col-md-4 col-xs-12 lbl_cntrl">
                            <label class="lbl_hdr" >Control Value</label>
                            <input class="cmn_input" type="text" #cntrlval>
                        </div>
                        <div class="col-md-4 col-xs-12 lbl_cntrl">
                            <label class="lbl_hdr" >Control Placeholder</label>
                            <input class="cmn_input" type="text" #cntrlph>
                        </div>
    
                        <div class="col-md-4 col-xs-12 custom_chk_bx">
                            <div class="chk_bx chk_top">
                                <input type="checkbox" id="vldtn_btn1" (click)="filterData()" #valreq>
                                <label for="vldtn_btn1">Validation Required</label>
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-12 hide_lbl">
                            <label class="lbl_hdr">Validation Message</label>
                            <input class="cmn_input" type="text" #valmsg>
                        </div>
    
                    </div>
                </div>
                <div class="modal-footer modal_btn">
    
                    <button type="button" class="btn sv_btn" (click)="saveCntrl(cntrlpar.value,cntrlid.value,cntrlval.value,cntrlph.value,valreq.value,valmsg.value)"><label>Save</label></button>
                </div>
            </div>
    
    
        </div>
    </div>
    </div>
    <div class="clearfix">
    </div> -->