.frame_header {
    background-color: #2f7ce4;
}

.detail_nav_menu ul li.ui-tabs-active {
    border-bottom: 2px solid #f6477e;
}

    .detail_nav_menu ul li.ui-tabs-active a {
        color: #f6477e;
    }

.save_btn {
    background-color: #f6477e;
    box-shadow: 0 5px 10px -4px rgb(246, 71, 126);
}

.next_btn {
    background-color: #2f7ce4;
    box-shadow: 0 5px 10px -4px rgb(47, 124, 228);
}

.menu li.active {
    border-left: 3px solid #f6477e;
}

    .menu li.active a{
        color: #f6477e;
    }
.menu li a:hover {
    color: #f6477e;
}