.klvrn_col {
    width: 25%;
    float: left;
}

.social_col {
    width: 25%;
    float: left;
}

.social_input {
    width: 75%;
    float: left;
}

.onboarding_section .company_details .custom_chk_bx {
    padding-top: 0;
    width: 50%;
}