<div id="contra">
<div class="wrapper">
        <div class="aside left">
            <div class="dash_logo">
                <a href="#">
                    <img src="/assets/images/settings/logo_dashboard.png" alt="kleveron" />
                </a>
            </div>
            <div class="aside_nav">
                <div class="sidebar-menu">
                    <ul class="menu">
                        <li>
                            <h3>
                                <label>
                                    Main
                                </label>
                            </h3>
                        </li>
                        <li class="active">
                            <!--#control_Modal-->
                            <a href="admin-panel.html">
                                <img src="/assets/images/settings/Job-postings.png" class="icon-img" />
                                <span>
                                    <label>
                                        Admin Panel
                                    </label>
                                </span>
                            </a>

                        </li>
                        <li>
                            <!--#control_Modal-->
                            <a href="admin-input-master.html">
                                <img src="/assets/images/settings/Job-postings.png" class="icon-img" />
                                <span>
                                    <label>
                                        Input Master
                                    </label>
                                </span>
                            </a>

                        </li>
                        <li>
                            <a href="#" data-toggle="modal" data-target="#list_Modal">
                                <img src="/assets/images/settings/Job-postings.png" class="icon-img" />
                                <span>
                                    <label>
                                        List Master
                                    </label>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#" data-toggle="modal" data-target="#grid_Modal">
                                <img src="/assets/images/settings/Job-postings.png" class="icon-img" />
                                <span>
                                    <label>
                                        Grid Master
                                    </label>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="content_wrap right">
            <header class="frame_header">

                <div class="row">
                    <div class="col-xs-4">
                        <div class="navbar-header">
                            <i class="fa fa-bars"></i>
                        </div>
                    </div>
                    <div class="col-xs-4 text_center mob_head">
                        <h1><label>Admin Panel</label></h1>
                    </div>
                    <div class="col-sm-4">
                        <div class="header-rightside">
                            <ul class="list-inline header-top pull-right navbar-right">
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        <img src="/assets/images/settings/user.png" alt="" class="user-icon">
                                        <span><label>John Smith</label></span>
                                        <b class="caret"></b>
                                    </a>
                                    <ul class="dropdown-menu animated fadeInUpShort">
                                        <li>
                                            <a href="#" class="view btn-sm"><label>View Profile</label></a>
                                        </li>
                                        <li>
                                            <a href="#" class="view btn-sm"><label>Logout</label></a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="icon-info dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-language" aria-hidden="true"></i>
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-right animated fadeInUpShort">
                                        <li>
                                            <a href="#" class="view btn-sm"><label>English</label></a>
                                        </li>
                                        <li>
                                            <a href="#" class="view btn-sm"><label>Gujarati</label></a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="icon-info dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-bell" aria-hidden="true"></i>
                                    </a>
                                    <ul class="dropdown-menu notify-drop animated fadeInUpShort">
                                        <div class="notify-drop-title">
                                            <div class="row">
                                                <div class="col-md-6 col-sm-6 col-xs-6"><label>Hiren (<b>2</b>)</label></div>
                                                <div class="col-md-6 col-sm-6 col-xs-6 text-right"><a href=""><i class="fa fa-dot-circle-o"></i></a></div>
                                                <div class="clearfix"></div>
                                            </div>
                                        </div>
                                        <div class="drop-content">
                                            <li>
                                                <div class="col-md-3 col-sm-3 col-xs-3"><div class="notify-img"><img src="/assets/images/on-boarding/notification-img.png" alt=""></div></div>
                                                <div class="col-md-9 col-sm-9 col-xs-9 pd-l0">
                                                    <a href=""><label>Ahmet</label></a><p><label> Lorem ipsum sit dolor amet consilium. Saat önce</label></p>
                                                </div>
                                                <div class="clearfix"></div>
                                            </li>
                                            <li>
                                                <div class="col-md-3 col-sm-3 col-xs-3"><div class="notify-img"><img src="/assets/images/on-boarding/notification-img.png" alt=""></div></div>
                                                <div class="col-md-9 col-sm-9 col-xs-9 pd-l0">
                                                    <a href=""><label>Ahmet</label></a><p><label> Lorem ipsum sit dolor amet consilium. Saat önce</label></p>
                                                </div>
                                                <div class="clearfix"></div>
                                            </li>
                                            <li>
                                                <div class="col-md-3 col-sm-3 col-xs-3"><div class="notify-img"><img src="/assets/images/on-boarding/notification-img.png" alt=""></div></div>
                                                <div class="col-md-9 col-sm-9 col-xs-9 pd-l0">
                                                    <a href=""><label>Ahmet</label></a><p><label> Lorem ipsum sit dolor amet consilium. Saat önce</label></p>
                                                </div>
                                                <div class="clearfix"></div>
                                            </li>
                                            <li>
                                                <div class="col-md-3 col-sm-3 col-xs-3"><div class="notify-img"><img src="/assets/images/on-boarding/notification-img.png" alt=""></div></div>
                                                <div class="col-md-9 col-sm-9 col-xs-9 pd-l0">
                                                    <a href=""><label>Ahmet</label></a><p><label> Lorem ipsum sit dolor amet consilium. Saat önce</label></p>
                                                </div>
                                                <div class="clearfix"></div>
                                            </li>
                                        </div>
                                        <div class="notify-drop-footer text-center">
                                            <a href=""><i class="fa fa-eye"></i> <label>View All</label></a>
                                        </div>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </header>
        <div class="container-fluid bgwhite">
            <div class="row page_header">
                <div class="col-lg-12 add_control_btn">
                    <button type="button" (click)="onAddClick()" class="btn"  id="add_btn" data-toggle="modal" data-target="#control_Modal"><span class="fa fa-plus"></span><label> Add</label></button>
                </div>
                <!-- Modal -->
                <div class="modal fade control_mdl" id="control_Modal" role="dialog">
                    <div class="modal-dialog">
.
                        <!-- Modal content-->
                        <div class="modal-content">

                            <div class="modal_tabs add_div">
                                <div class="modal-header">
                                    <button type="button" class="mdl_close" data-dismiss="modal">&times;</button>
                                    <h4><label class="no_style">1</label><label class="modal-title"> Add Div Container</label></h4>
                                </div>
                                <div class="modal-body">
                                    <div class="div_hdr row">
                                        <div class="col-md-12"> <h4><label>Select div colum structure</label></h4></div>
                                    </div>
                                    <div class="row col_outer">
                                        <div *ngFor="let post of posts" >
                                        <div class="col-md-3 col-sm-3 col-xs-12 select_col">
                                            <div class="col_div">
                                                <div class="col_img">
                                                    <img src="{{post.img_url}}" alt="" />
                                                </div>
                                                <div class="col_lbl"><label>{{post.css_class}}</label></div>
                                            </div>
                                            <div class="mdl_radio custom_radio">
                                                <input type="radio" id="{{post.col_id}}" name="radio-group" (click)="setRadCol(post.css_class)">
                                                <label for="{{post.col_id}}"></label>
                                            </div>
                                        </div>
                                       
                                    </div>
                                    </div>
                                </div>
                                <div class="modal-footer modal_btn">
                                    <button type="button" class="btn nx_btn" (click)="setRad1()"><label>Next</label></button>
                                    <button type="button" class="btn sv_btn"><label>Save</label></button>
                                </div>
                            </div>
                            <div class="modal_tabs add_label">
                                <div class="modal-header">
                                    <button type="button" class="mdl_close" data-dismiss="modal">&times;</button>
                                    <h4><label class="no_style">2</label><label class="modal-title">Add Label</label></h4>
                                </div>
                                <div class="modal-body">
                                    <div class="div_hdr row">
                                        <div class="col-md-6 col-xs-12">
                                            <h4><label>Would You Like to Add label?</label></h4>
                                        </div>
                                        <div class="col-md-6 col-xs-12 tgl_switch">
                                            <input type="checkbox" class="tgl" id="lbl_tgl" />
                                            <label for="lbl_tgl"></label>
                                        </div>
                                    </div>
                                    <div class="row col_outer hide_lbl_cntrl">
                                    <div *ngFor="let lbl of lbls, let idx = index" >
                                        <div class="{{lbl.div_class}}">
                                            <label class="{{lbl.lbl_class}}">{{lbl.label_title}}</label>
                                            <input class="{{lbl.input_class}}" type="{{lbl.input_type}}" [(ngModel)]="values[idx]">
                                        </div>
                                </div>
                                    </div>
                                </div>
                                <div class="modal-footer modal_btn">
                                    <button type="button" class="btn nx_btn hide_nxt" (click)="setlbls()"><label>Next</label></button>
                                    <button type="button" class="btn nx_btn hide_skip"><label>Skip</label></button>
                                    <button type="button" class="btn sv_btn"><label>Save</label></button>
                                </div>
                            </div>
                            <div class="modal_tabs add_control">
                                <div class="modal-header">
                                    <button type="button" class="mdl_close" data-dismiss="modal">&times;</button>
                                    <h4><label class="no_style">3</label><label class="modal-title">Add Controls</label></h4>
                                </div>
                                <div class="modal-body">
                                    <div class="div_hdr row">
                                        <div class="col-md-12"> <h4><label>Select Control</label></h4></div>
                                    </div>
                                    <div class="row col_outer">
                                        <div *ngFor="let item of inp_ctrls" >
                                        <div class="col-md-3 col-xs-12 select_col">
                                            <div class="col_div">
                                                <div class="col_img">
                                                    <img src="{{item.img_url}}" alt="" />
                                                </div>
                                                <div class="{{item.div_class}}"><label>{{item.lbl_title}}</label></div>
                                            </div>
                                            <div class="{{item.inp_div_class}}">
                                                <input type="{{item.inp_type}}" id="{{item.inp_id}}" name="{{item.inp_name}}" (click)="setRadioCn(item.inp_html)">
                                                <label for="{{item.inp_id}}"></label>
                                            </div>
                                        </div>
                                        </div>


                                    </div>
                                    <div class="row col_outer cntrl_info">
                                        <div *ngFor="let item of controls" >
                                        <div class="{{item.div_class}}}">
                                            <label class="{{item.lbl_class}}">{{item.label_title}}</label>
                                            <input class="{{item.input_class}}" type="{{item.input_type}}">
                                        </div>
                                        </div>
                                        
                                        
                                        <div class="col-md-4 col-xs-12 custom_chk_bx">
                                            <div class="chk_bx chk_top">
                                                <input type="checkbox" id="vldtn_btn">
                                                <label for="vldtn_btn">Validation Required</label>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-xs-12 hide_lbl">
                                            <label class="lbl_hdr">Validation Message</label>
                                            <input class="cmn_input" type="text">
                                        </div>

                                    </div>
                                </div>
                                <div class="modal-footer modal_btn">

                                    <button type="button" class="btn sv_btn" (click)="saveFunc()"><label>Save</label></button>
                                </div>
                            </div>


                        </div>

                    </div>
                </div>
            </div>
            <div id="displayControls" class="row page_content admin_onboard">
                    <!-- <input ngui-datetime-picker date-format='DD-MM-YYYY HH:MM' year='2014' month='12' day='31' hour='23' minute='59' class='form-control' id='starttime'    placeholder='Start Date'  [min-date]='minDate'   [close-on-select]='false'/> -->
                    <!-- <div class="col-md-6 col-sm-6 col-xs-12 dtl_row klvrn_dt_picker">
                            <label class="lbl_hdr">Select Date: </label>
                            <div id="datetimepicker1" class="input-group date">
                                <input type="text" class="cmn_input" value="05/01/2017">
                                <span class="input-group-addon">
                                    <span class="fa fa-calendar"></span>
                                </span>
                            </div>
                        </div> -->
                        <!-- <div *ngIf="isTimePick">
                         <ng-container *ngComponentOutlet="alert"></ng-container>
                        </div> -->
                        <div *ngIf="components.length!==0">
                        <div *ngFor="let component of components">  
                    <ndc-dynamic [ndcDynamicComponent]="component"
                        [ndcDynamicInputs]="inputs"
                        ></ndc-dynamic>
                        </div>
                        </div>
                </div>


                
        </div>

        <footer class="text_center">
            <h4> <label>© 2017 Kleveron. A venture of <a href="#"> SRKay </a> Consulting Group LLP. All Rights Reserved.</label></h4>
        </footer>

    </div>
    <div class="clearfix"></div>
</div>
</div>