<div class="top_section">
        <div class="container">
            <div class="col-md-4 col-sm-4">
                <div class="top_logo">
                    <a href="#">
                        <img src="../images/index/logo-white.png" alt="" />
                    </a>
                </div>
            </div>
            <div class="col-md-8 col-sm-8">
                <div class="input-group search_btn">
                    <input class="cmn_input srch_input" placeholder="SEARCH RESOURCES - e.g. Java Developer with 3 years of experience in pune" type="search">
                    <span class="input-group-addon sch_btn">
                        <span class="fa fa-search"></span>
                    </span>
                </div>

            </div>
        </div>
        <div class="container">
            <div class="row find_section">
                <div class="top_hdr">
                    <h4>
                        We are leading consulting company
                    </h4>
                    <h2>
                        Choose your industry
                    </h2>
                </div>
                <div class="service_sec">
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="service active">
                            <div class="service_icon">
                                <img src="../images/index/find.png" alt="" />
                            </div>
                            <h3>Find best resources <br />for your projects</h3>

                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="service">
                            <div class="service_icon">
                                <img src="../images/index/manage-team.png" alt="" />
                            </div>
                            <h3>Manage your team <br />online on the move</h3>

                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="service">
                            <div class="service_icon">
                                <img src="../images/index/best-price.png" alt="" />
                            </div>
                            <h3>Get the best price for <br />the best resources.</h3>

                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="service">
                            <div class="service_icon">
                                <img src="../images/index/clear-view.png" alt="" />
                            </div>
                            <h3>Worries are past with <br />clear view of team</h3>

                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- nav menu -->
    <header class="frame_header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12 logo_expand">
                    <div class="dash_logo">
                        <a href="#">
                            <img src="../images/settings/logo_dashboard.png" alt="kleveron">
                        </a>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 nav_expand">
                    <div class="nav_menu">
                        <ul>
                            <li class="active"><a href="#" class="menu_link">Why Kleveron</a></li>
                            <li><a href="#" class="menu_link">How it works?</a></li>
                            <li><a href="#" class="menu_link">4000+ Resources</a></li>
                            <li><a href="#" class="menu_link">About Us</a></li>
                            <li><a href="#" class="menu_link">Contact Us</a></li>
                            <li><a href="#" class="menu_link hide_nav">Register</a></li>
                            <li><a href="#" class="menu_link hide_nav">Login</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12 col-xs-12 btn_expand">
                    <div class="nav_btn">
                        <button type="button" class="btn btn1 hide_nav_btn">Register</button>
                        <button type="button" class="btn btn2 hide_nav_btn">Login</button>
                        <span id="nav_trigger" class="responsive-menu">
                            <span class="menu_bar">
                                <i class="fa fa-bars" aria-hidden="true"></i>
                            </span>
                            <span class="close_menu">
                                <i class="fa fa-bars" aria-hidden="true"></i>
                            </span>
                        </span>

                    </div>

                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </header>

    <div class="content_wrap">
        <!-- feature section -->
        <div class="feature_section">
            <div class="container">
                <div class="cmn_hdr">
                    <h2>
                        Our Features
                    </h2>
                </div>
                <div class="feature_wrap">
                    <div class="row">
                        <div class="col-md-5 col-sm-12 col-xs-12">
                            <div class="left_feature">
                                <div class="feature_bx sub_feature">
                                    <div class="feature_icon">
                                        <img src="../images/index/feature-1.png" alt="" />
                                    </div>
                                    <div class="feature_text">
                                        <h4>Get the right workforce for your projects</h4>
                                        <p>
                                            containing Lorem Ipsum passages, and more recently with desktop publishing software
                                            like Aldus PageMaker including versions of Lorem Ipsum.
                                        </p>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="feature_bx">
                                    <div class="feature_icon">
                                        <img src="../images/index/feature-2.png" alt="" />
                                    </div>
                                    <div class="feature_text">
                                        <h4>Find exciting projects for your team</h4>
                                        <p>
                                            containing Lorem Ipsum passages, and more recently with desktop publishing software
                                            like Aldus PageMaker including versions of Lorem Ipsum.
                                        </p>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-2 col-sm-12 col-xs-12">
                            <div class="center_logo">
                                <img src="../images/index/center-logo.png" alt="" />
                            </div>
                        </div>
                        <div class="col-md-5 col-sm-12 col-xs-12">
                            <div class="right_feature">
                                <div class="feature_bx sub_feature">
                                    <div class="feature_icon">
                                        <img src="../images/index/feature-3.png" alt="" />
                                    </div>
                                    <div class="feature_text">
                                        <h4>Manage your business on kleveron</h4>
                                        <p>
                                            containing Lorem Ipsum passages, and more recently with desktop publishing software
                                            like Aldus PageMaker including versions of Lorem Ipsum.
                                        </p>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="feature_bx">
                                    <div class="feature_icon">
                                        <img src="../images/index/feature-4.png" alt="" />
                                    </div>
                                    <div class="feature_text">
                                        <h4>Boosting your business here</h4>
                                        <p>
                                            containing Lorem Ipsum passages, and more recently with desktop publishing software
                                            like Aldus PageMaker including versions of Lorem Ipsum.
                                        </p>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- about us section -->
        <div class="about_us_section">
            <div class="container">
                <div class="cmn_hdr">
                    <h2>
                        About Us
                    </h2>
                </div>
                <div class="about_info">
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                        has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.
                    </p>
                    <div class="read_mr_btn">
                        <button type="button" class="btn btn1">Read More</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- customer section -->
        <div class="customer_section">
            <div class="container">
                <div class="cmn_hdr">
                    <h2>
                        Our Customers
                    </h2>
                </div>
                <div class="customer_list">
                    <div class="customer_info owl-carousel" id="customer_carousel">
                        <div class="item sub_client">
                            <a href="#">
                                <img src="images/index/customer-1.png">
                            </a>
                        </div>
                        <div class="item sub_client">
                            <a href="#">
                                <img src="images/index/customer-2.png">
                            </a>
                        </div>
                        <div class="item sub_client">
                            <a href="#">
                                <img src="images/index/customer-3.png">
                            </a>
                        </div>
                        <div class="item sub_client">
                            <a href="#">
                                <img src="images/index/customer-4.png">
                            </a>
                        </div>
                        <div class="item sub_client">
                            <a href="#">
                                <img src="images/index/customer-5.png">
                            </a>
                        </div>
                        <div class="item sub_client">
                            <a href="#">
                                <img src="images/index/customer-1.png">
                            </a>
                        </div>
                        <div class="item sub_client">
                            <a href="#">
                                <img src="images/index/customer-2.png">
                            </a>
                        </div>
                        <div class="item sub_client">
                            <a href="#">
                                <img src="images/index/customer-3.png">
                            </a>
                        </div>
                        <div class="item sub_client">
                            <a href="#">
                                <img src="images/index/customer-4.png">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- blog resources section -->
        <div class="blog_res_section">
            <div class="container">
                <div class="cmn_hdr">
                    <h2>
                        Blog & Resources
                    </h2>
                </div>
                <div class="blog_wrap">
                    <div class="row">
                        <div class="col-md-6 col-xs-12 padd_right">
                            <div class="blog_bx bord_1 active">
                                <div class="row">
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        <div class="blog_img">
                                            <img src="../images/index/sub-blog-1.png" alt="" />
                                        </div>
                                    </div>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <div class="blog_info">
                                            <div class="blog_title">Blog Heading here</div>
                                            <div class="blog_subhead">Subhead</div>
                                            <div class="blog_des">
                                                Established fact that a reader will be distracted by the readable
                                                of a page when looking at its layout...
                                            </div>

                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12 padd_left">
                            <div class="blog_bx bord_2">
                                <div class="row">
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        <div class="blog_img">
                                            <img src="../images/index/sub-blog-1.png" alt="" />
                                        </div>
                                    </div>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <div class="blog_info">
                                            <div class="blog_title">Blog Heading here</div>
                                            <div class="blog_subhead">Subhead</div>
                                            <div class="blog_des">
                                                Established fact that a reader will be distracted by the readable
                                                of a page when looking at its layout...
                                            </div>

                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="blog_btn">
                    <button type="button" class="btn btn1">Full Blog</button>
                </div>
            </div>
        </div>

        <!-- contact section -->
        <div class="contact_section">
            <div class="container">
                <div class="cmn_hdr">
                    <h2>
                        Quick Contact
                    </h2>
                </div>
                <div class="contact_wrap">
                    <div class="row">
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="contact_bx">
                                <div class="row">
                                    <div class="col-md-3 icon">
                                        <img src="../images/index/contact-1.png" alt="" />
                                    </div>
                                    <div class="col-md-9 info">
                                        <h4>Email</h4>
                                        <a href="#">ask@kleveron.com</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="contact_bx">
                                <div class="row">
                                    <div class="col-md-3 icon">
                                        <img src="../images/index/contact-2.png" alt="" />
                                    </div>
                                    <div class="col-md-9 info">
                                        <h4>Call Us</h4>
                                        <p>+1800 25023 235</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="contact_bx">
                                <div class="row">
                                    <div class="col-md-3 icon">
                                        <img src="../images/index/contact-3.png" alt="" />
                                    </div>
                                    <div class="col-md-9 info">
                                        <h4>Company Contact</h4>
                                        <p>+91 2586825635</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- index footer  -->
        <div class="index_footer">
            <div class="container">
                <div class="row footer_top">
                    <div class="col-md-2 col-sm-2 col-xs-12">
                        <div class="company_logo">
                            <a href="#">
                                <img src="../images/index/logo-white-small.png" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12">
                        <h4>For Partners</h4>
                        <div class="footer_box_text">
                            <p>Partners SignUp</p>
                            <p>How it Works</p>
                            <p>FAQ's for Partners</p>
                            <p>Terms & Conditions</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12">
                        <h4>For Customers</h4>
                        <div class="footer_box_text">
                            <p>Customers SignUp</p>
                            <p>How it Works</p>
                            <p>FAQ's for Partners</p>
                            <p>Terms & Conditions</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <h4>News letter</h4>
                        <p>Enter your email address to subscribe our notification of our new post & features by email.</p>
                        <div class="email_box">
                            <input class="ftr_input" placeholder="Email Address">
                            <button type="button" class="btn ftr_btn">Subscribe</button>
                        </div>
                    </div>
                </div>
                <div class="row footer_btm">
                    <div class="col-md-4 col-sm-4">
                        <div class="footer_link">2017 Copyright Kleveron Pvt.Ltd</div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="social_footer">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="soc_ftr_txt">Site Map | Privacy Policy | Terms & Conditions</div>
                    </div>
                </div>
            </div>
        </div>

    </div>