.klvrn_col {
    width: 33%;
    float: left;
}

.social_col {
    width: 20%;
    float: left;
}

.social_input {
    width: 80%;
    float: left;
}

.onboarding_section .company_details .custom_chk_bx {
    padding-top: 0;
    width: 50%;
}